[2013-06-29 21:49] stevenlovegrove opened #1 "Trouble with ISight on Macbook Pro"
Thanks for the great library. I've recently been trying to use it to open an ISight camera on a Macbook Pro Retina (OSX 10.8) but have been having some trouble. The library works great for my other cameras. I guess the iSight is non-conformant...

Digging into it, it seems uvc_query_stream_ctrl always fails for the iSight, with the internal libusb_control_transfer returning -99. This error is igno

[2013-12-27 06:15] rmtmckenzie opened #3 "Hang & crash on close"
Hi,

I've just started trying to utilize this library as part of one of my projects. The issue I'm running into is that the program hangs (in debug) or crashes if just running when the library is disconnecting. This happens between the pthread_join and libusb_exito n lines 151 and 152 of init.c. (I've manually built both libuvc and libusbx from git)

[code]

This is part of the code I'm using - so

[2014-02-28 20:30] DarkIntegral opened #4 "Contact"
Hi,

I couldn't seem to find your contact info so feel free to take down my info and then remove this. I have used your code to make a android framework for connecting a uvc camera to a phone/tablet (very slightly modified with also a very slightly modified libusb). It was important to me that the system to user space so it would work on non rooted/modified devices.

I wanted to talk to you about

[2014-03-03 19:03] #4 closed, assigned to nobody

[2014-03-03 19:04] #3 closed, assigned to nobody

[2014-06-25 21:57] jamesfidell opened #6 "Submission of patches"
I'm using libuvc to support some UVC-ish astronomy cameras on OSX and have a number of patches to submit, eg:
1. some trivial bugfix/typo corrections
2. populate manufacturer and product strings
3. add support for recognising these cameras (which is a bit hacky as the don't strictly adhere to the UVC spec. in terms of how they advertise themselves)
4. add support for parsing frame-based formats
5.

[2014-08-21 19:21] #6 closed, assigned to nobody

[2014-10-15 06:26] zhaofengjia opened #9 "How to do PTZ control on MacOS"
First of all, thanks for the great library. And i want to use this library do PTZ control on MacOS. Is it possible?

[2014-12-16 17:33] mihaimorariu opened #10 "Disable auto white balance temperature"
I am trying to disable the auto white balance temperature on my Logitech C920 camera and set it to a fixed value. I can control other settings without any problems (i.e. disabling auto focus or auto exposure), but when I call "uvc_set_white_balance_temperature_auto" with the parameter "temperature_auto" set to 0, it always returns UVC_PIPE_ERROR.

Has anyone else had the same problem? I know my ca

[2014-12-31 17:05] roger- opened #11 "LIBUSB_INCLUDE_DIR build errors with Debian 7.7"
I have libusb-1.0-0-dev installed, but running cmake gives this error:

[code]

[2015-01-06 15:18] ktossell commented on #11
I just tried it using the debian:wheezy docker image (apt-get install build-essential git cmake libusb-1.0-0-dev && cmake) and didn't get any errors. Had you run cmake before you installed libusb-dev? If so, maybe cmake is caching the NOTFOUND result. If you did install libusb after running cmake, try deleting the build directory and running cmake again.

[2015-01-06 15:21] ktossell commented on #11
Though `rm -rf build; apt-get remove libusb-1.0-0-dev; mkdir build; cd build; cmake .. [produces the error you saw]; apt-get install libusb-1.0-0-dev; cmake ..` does work -- with this setup, it manages to find libusb when I rerun cmake.

[2015-01-06 16:07] roger- commented on #11
Weird: I removed build/, recreated it and ran cmake but got the same error.

[2015-02-06 02:30] sureshjoshi opened #12 "libuvc on Windows"
Has anyone successfully streamed webcam images from this library on Windows?

I've done the necessary porting to make it compile, and installed WinUSB drivers (as per libusb), but claiming the interface when I want to stream returns an ERROR_NOT_SUPPORTED and if I hack to pick an interface that claims correctly, I get an ERROR_PIPE.

This is a Logitech C270 camera, running the example.cpp and test

[2015-02-21 00:42] teknotus opened #14 "License?"
I cannot find a License file. What are the terms of use, and contribution?

[2015-02-21 03:56] ktossell commented on #14
Wow, I'm really surprised that I didn't include a license file. Libuvc is distributed under the BSD 3-clause license. Contributions should be licensed the same way; contributors don't need to assign copyright or anything.

I'll add a license file or a readme entry, but in the meantime, you can find license headers in most of the src/*.c files if you need an in-distribution licensing statement.

[2015-02-21 04:24] teknotus commented on #14
Thanks!

[2015-03-03 06:22] ddiakopoulos opened #15 "Multiple streams on same device"
Theoretical implementation question. If the library were to support a device with multiple control and streaming interfaces, how would the lib need to adapt?

[2015-04-15 00:51] #15 closed

[2015-04-17 11:20] sadaszewski opened #16 "uvc_stop_streaming() hangs on Mac OS X"
I originally detected it in my code but even in the attached example.c application, sometimes it exits but sometimes it just hangs in uvc_stop_streaming(). The backtraces from all the threads are included below. Interestingly an application which uses libuvc internally - oaCapture doesn't seem to have issues starting/stopping the stream (they're using libuvc 0.0.5 and so am I). Could you please ta

[2015-05-08 07:32] mkassner opened #17 "Implement population of capture_time"
Hi,  looking through the code I noticed that capture_time never get properly populated. IMHO ideally this should be the SOE as in v4l2's uvcvideo module.

Any reason for this? Would this be a lot of work?

I m new to this library and I plan to write a python wrapper similar to this one: https://github.com/pupil-labs/pyv4l2 so that one can get cross platform uvc access from python.

[2015-05-11 10:27] mkassner commented on #17
I implemented it myself. I ll submit a pull req soon.

[2015-05-11 13:03] mkassner commented on #17
Actually, this is more work than I expected. Gaining access to `hold_pts` and `dwClockFrequency` was easy and now one has access to the SOE in device time.

If we want to convert to host time we would have to do what Laurent Pinchart did in the uvc_driver implementation for Linux (http://git.linuxtv.org/cgit.cgi/media_tree.git/tree/drivers/media/usb/uvc/uvc_video.c). This requires knowing the curr

[2015-05-11 23:22] lolz0r opened #18 "Synchronized Capture Across Multiple Devices"
Hi,
I would like to utilize many webcams and capture frames from each one in a synchronized fashion. Is this possible to do this with USB wecbams? And if so can you point me in the right direction in the code where actual frame requests / triggers occur?

Thank you for any help you may have!

[2015-05-11 23:37] lolz0r commented on #18
It looks like the actual trigger to the camera occurs @ libusb_submit_transfer - if I do this in a synchronized way across all camera devices I wonder if this will cause the cameras to take a photo at the same instant?

[2015-05-13 11:56] ktossell commented on #18
I don't know of a way to do that. I didn't think that the cameras actually synchronized themselves with the USB transfers. I thought they maintained their own schedule and simply report the result if/when it's ready. Maybe that's device-dependent. There's currently no allowance for multi-camera interaction in libuvc; I don't have a good place to point to where you could insert synchronization code

[2015-05-13 12:00] ktossell commented on #17
That's where I got stuck. I couldn't find any way to get the host-side frame number or other timing information from the host's perspective. I was thinking the timestamp-generation process could fall back to an estimate using a combination of the system timestamp at transfer completion and an estimate of how long it takes for the camera to process and start sending a frame (which it more or less t

[2015-05-13 12:03] ktossell commented on #16
I feel like I've applied lots of fixes for this issue (transfer completion and shutdown processes differ between Linux and Mac, and we are depending on something that only Linux does), and I know the logic is still wrong. I'll see if I can get it fixed soon, now that I have a Mac to try it out with.

[2015-05-13 12:52] saki4510t commented on #16
Hello,
When I have port libuvc and libusb for Android, libuvc often crash and/or hang-up when stop streaming. I'm not sure it is same issue on OSX because I don't tested on other platform than Android. And my modified version is quite depends on Android specific features and I think pull requests for most of the modifications are not suitable for original libuvc. But I feel my experience may help

[2015-05-13 14:54] mkassner commented on #17
hi,

I like that. I will submit a pull request for where I m right now.

BTW.:
I believe there are functions similar to 'usb_get_current_frame_number' for windows and mac:

https://msdn.microsoft.com/en-us/library/windows/hardware/ff537621(v=vs.85).aspx
https://developer.apple.com/library/mac/documentation/IOKit/Reference/IOUSBDeviceInterface_reference/index.html#//apple_ref/doc/uid/TP40011529-CLS

[2015-05-13 15:16] mkassner commented on #17
Pull request here: #19

[2015-05-13 16:17] mkassner commented on #16
I m developing on Mac and I experience crashes when using the frame callback. But they never happen when using `uvc_stream_get_frame`.

[2015-05-13 23:21] saki4510t commented on #16
The behavior is almost same on Android. When using frame callback, many operations execute asynchronously. Transfer buffers are accessed exclusively by `strmh->cb_mutex` on most place, but in `_uvc_user_caller` function, frame callback is called without any exclusive control on line 1020 of stream.c, after unlocking `strmh->cb_mutex` and I assume  sometimes become race condition under some conditi

[2015-05-18 07:33] mkassner commented on #16
working with libuvc I think there are two issues:

1) Occasional crash when using timeouts longer than 2 sec. Not the topic of this issue.

2) Occasional hang on shutdown: As @sadaszewski initially outlined,  uvc_stop_streaming() hangs sometimes. This can be tracked down to `uvc_stream_stop` in stream.c: This loop sometimes never exsits with pthread_cond_wait not returning.

[code]

[2015-05-19 07:18] mkassner opened #20 "note on udev rules"
The readme could use a note on udev rules for linux. A simple (awfully permissive) rule:

[code]

two lines in terminal:

[code]

[2015-05-19 14:53] mkassner commented on #16
I can confirm the same error on Linux (Ubuntu 14.xx, various kernels).

I have modified `uvc_stream_stop` to use a timeout and return UVC_ERROR_TIMEOUT when appropriate: https://github.com/pupil-labs/libuvc/commit/c534e3d2132351daae4b85e0a6538bc203074dfb

While this is a workaround at best it does do the trick.

I also found that a failed `uvc_stream_stop` can actually be ignored. I m not sure if

[2015-06-08 08:14] Timmmm commented on #12
There are probably two issues:

1. When you plug in a UVC webcam on Windows it installs Windows' native UVC driver. libusb requires a WinUSB-compatible driver interface on Windows so that doesn't work.

2. You should be able to remove the drivers Windows automatically installs (via the Device Manager) and install a WinUSB-compatible one - the easiest way is using [Zadig](http://zadig.akeo.ie/) - l

[2015-06-08 08:16] Timmmm commented on #12
By the way, I'm going to have a go at this. Would you mind posting your modifications?

[2015-06-08 09:42] mkassner commented on #12
@Timmmm This is very relevant for us as well.

Will you develop in a fork? We would like to contribute and test.

@MichaelBarz What do you think?

[2015-06-08 12:59] sureshjoshi commented on #12
@Timmmm Thanks for all the info. Unfortunately, I moved my development over to native cross-platform drivers for the project I was working on, and for the life of me, I can't find my libuvc mods... Sorry.

However, I know Steven Lovegrove (https://github.com/stevenlovegrove/libuvc) started a Windows version too.

[2015-06-08 17:34] Timmmm commented on #12
Ok I will have a look at his fork. I wish github let you give forks descriptions. Sometimes it's really hard to work out what the difference between them all is! @mkassner if I get it to work I'll post here. Not sure about code as it is for work and they're a bit paranoid about IP. Hopefully it won't require many code changes anyway.

[2015-06-09 05:38] flecheria commented on #12
I describe what I've done until here and also I need some further information.
It's a lot of stuff for a post but I hope it could be helpful for people like me that try libuvc for the very first time.
1 - uninstall old drive and I made a fresh installation of *WinUSB* with Zadig (**Is it suffice or I have to install all? libusbK, WinUSB and libusb-win32?**) following @Timmmm suggestions
2 - downlo

[2015-06-09 09:35] Timmmm commented on #12
@flecheria WinUSB won't work because it doesn't support isochronous endpoints (required for UVC) until Windows 8 (and libusb doesn't take advantage of that support anyway). libusbK *does* support isochronous endpoints but again libusb doesn't take advantage of that support. However there are old patches for libusb that change it to add support for libusbK's isochronous API. This is "solution one"

[2015-06-14 15:25] flecheria commented on #12
@Timmmm I rebuild libusb with the patches as you suggest on solution 1, uninstall WinUSB and install libusbK. It seems works.
Do you have a snippet of code for testing? because I have no idea on how to test isochronous transfer...
Thanks

[2015-06-15 12:22] Timmmm commented on #12
There is an isochronous benchmark example here:

https://github.com/libusb/libusb/blob/master/examples/sam3u_benchmark.c

One of my uses for isochronous transfers with libusb is for an application
using the SAM3X processor (which happens to be the one used by the Arduino
Due). I ported the Arduino Due to mBed and have an isochronous transfer
working (well, as far as I can tell; haven't tested libu

[2015-06-16 15:12] flecheria commented on #12
Oh Thanks
I'll give it a try, I'm not sure to be properly skilled for thi stuff, but I'll try this week end.

[2015-06-17 07:36] Timmmm commented on #12
I had a go at this. It got fairly far - submitting the iso transfers
worked, but the transfer status in the callback was LIBUSB_TRANSFER_ERROR.
I stepped through and found that in windows_handle_events() io_result was
getting set to 87, which means "parameter is incorrect". I haven't been
able to work out why. I'm going to ask on the libusb mailing list.

On 16 June 2015 at 16:12, paolo cappellett

[2015-06-24 11:38] olafkaehler opened #21 "Shouldn't struct uvc_format_desc have a member enum uvc_frame_format?"
Maybe I'm being silly here, but shouldn't the struct uvc_format_desc have a member enum uvc_frame_format? I'm trying to implement a function like "find me a suitable format for this and that resolution". The return values of this function should then be the input to uvc_get_stream_ctrl_format_size().

I've found the function uvc_get_format_descs() (which is not in the doxygen documentation, btw.)

[2015-06-29 09:09] mmzarzu opened #22 "Can access to device only as root"
Hi,

I can only launch the examples using sudo.
How could I access the device avoiding this?

Best

[2015-06-29 12:32] mkassner commented on #22
have a look at this: #20

[2015-06-30 04:03] ktossell commented on #22
Hey @mkassner, sorry about the silence. There's more information at http://wiki.ros.org/libuvc_camera#Permissions .

[2015-06-30 05:23] ktossell commented on #21
But there isn't always exactly one uvc_frame_format for each format GUID. I agree that, with the uvc_format_desc and uvc_frame_desc, you should have everything you need to open a stream, and you shouldn't need to map the guid back to a uvc_frame_format. I'd rather resolve the lack of that support by adding a function along the lines of `uvc_get_stream_ctrl_for_frame_desc(uvc_device_handle_t *devh,

[2015-06-30 07:24] mkassner opened #23 "Question: Force bulk transfer"
Hi,
Some cameras have alt settings with tremendously oversized packet sizes and I would like to not use iso transfers in this case.

Is is possible to force bulk transfer?
(I tried forcing bulk transfers in stream.c but  libusb_submit_transfer fails with 'Entity not found.' .)

Any pointers would be very appreciated.

[2015-06-30 10:16] olafkaehler commented on #21
Sounds sensible. Maybe also add a function for mapping the "interval" to the fps, as required by uvc_get_stream_ctrl_format_size().

[2015-07-06 21:09] mmzarzu commented on #22
Thanks!

[2015-07-06 21:09] #22 closed

[2015-07-06 21:22] mmzarzu opened #24 "glut integration and segmentation fault errors"
I would like to know how to use both libuvc and glut in the same application.
I set a capture callback function using uvc_stream_start() and then set a
display callback function using glutDisplayfunc(), where I read the values set
in the other function. I am getting random segmentation fault errors in the libuvc library
and I do not know if they are caused because memory can be accessed from diffe

[2015-07-08 10:41] Timmmm commented on #12
I asked on the mailing list but no reply... I may brave UsbDk again...

[2015-07-09 21:28] suertreus commented on #14
Thanks for creating this and making it available under such a generous license =).

Please do add a LICENSE file listing or linking to the text of the license.  Doing so is very helpful to packagers who want to redistribute the code without worry and to businesses who want to build commercial or free products.

[2015-07-10 00:35] ktossell commented on #23
I believe that UVC camera streaming interfaces can do isochronous transfers or bulk transfers, but not both. The camera would have to provide more than one streaming interface for that to be possible.

I think the approach you're taking in https://github.com/pupil-labs/libuvc/commits/bandwidth_fix is the best way to go.

[2015-07-10 00:42] ktossell commented on #14
Does this work? https://github.com/ktossell/libuvc/commit/68612e2ccbe5889d21aa50c597c3aae2823fb5d4

[2015-07-10 00:44] suertreus commented on #14
Perfect, thanks again!

[2015-07-19 18:30] Timmmm commented on #12
Ok, I downloaded libusbK and tried using it directly rather than through libusb and it worked! Therefore it seems to me like the libusb patches to add support for libusbK isochronous transfers are incorrect in some way. I haven't investigated what they do differently to the libusbK example code.

[2015-07-20 08:36] mkassner commented on #23
Alright that makes sense. Closed

[2015-07-20 08:36] #23 closed

[2015-07-21 16:10] roi-n opened #25 "External Buffers"
Is there a way to pass an externally allocated buffer to hold the data when calling uvc_stream_get_frame?
I saw that the frame class has a member called library_owns_data (with comment that says "Set this field to zero if you are supplying the buffer"), but it seems like a new frame is returned with new allocated buffer anyway.

Thanks,
Roi

[2015-07-29 16:14] MichaelBarz commented on #12
@Timmmm, sounds great! I recently tried to build libuvc on Windows too, but without success. Could you share your steps on how you replaced libusb by libusbK? And what is you system setup?
I use a VM running Windows 8.1 Pro x64, Visual Studio 2008 and libusbK 3 dev kit.

Best, Michael

[2015-08-05 21:51] maurosanjo commented on #12
Same here. I managed to compile libuvc and libusb. I can enumerate devices, connect, and when I try to start streaming I get UVC_ERROR_NOT_SUPPORTED, that came from inside libusb (LIBUSB_ERROR_NOT_SUPPORTED).

Tried with WinUSB and libusbK drivers using Zadig.

I'm checking libusbK, does any of you guys managed to port libuvc to use libusbK?

[2015-08-06 06:25] Timmmm commented on #12
Yeah maurosanjo - that is the expected response (see my previous comments).

I've tested the libusbK api directly (not with libuvc) and it worked, and I've tested libuvc using libusb with a libusbK backend that supports isochronous transfers but it didn't work.

Probably easier and better to fix the libusbK backend for libusb than to port libuvc to libusbK.

Alternatively if you don't care about w

[2015-08-19 08:47] ennajelari opened #26 "Is it possible to negitate Y16 Format?"
Hi,
I have a camera with Y16 format with 720p, I do not see how to negotiate with libuvc. Please let me know if i overlooked something ? Thanks.

[2015-08-23 18:25] rexroni commented on #16
I have the same problem running Debian Jessie, and the code adjustments offered by saki4510t fix the problem.

[2015-10-01 16:43] tobyhijzen opened #28 "Building with jpeg support"
I am building and extending _libuvc_ros_ which depends on _libuvc_. I can get _libuvc_ to compile and install, when configuring with cmake it even says it is "Building libuvc with JPEG support.". However when I want to use the libraries function _uvc_mjpeg2rgb_ it complains it is not defined. This makes sense since in the header LIBUVC_HAS_JPEG is not defined. How can this be fixed so that LIBUVC_

[2015-10-02 10:17] tobyhijzen commented on #28
Turns out I also had the ros package of libuvc and that apparently does not have jpeg support. Now trying to build with libjvc-release (branch debian/indigo/trusty/libuvc), though I am having similar problems.

[2015-10-02 10:17] #28 closed

[2015-10-13 11:16] MichaelBarz commented on #12
Hi. I tried to get this running again.

I used libusbK (Zadig), Windows Release of libusb-1.0.

There are a few things that I could solve or circumvent:
* Not all UVC-classified devices can be opened with libusb on my system, thus I modified `uvc_get_device_list` in order to only allow those that opened successfully.
* The DEBUG prints do not work for Windows. Dropping the line and file informatio

[2015-10-21 10:42] lobsteroh opened #29 "uvc_get_device_list"
hi, i am trying to access the list of available uvc devices (and ultimately call this from java) but I am not familiar with the *** notation on list. is this notation for accessing an array of uvc_device_t?

`uvc_error_t uvc_get_device_list (uvc_context_t *ctx, uvc_device_t ***list )`

Is list then holding the pointer to the first device handle? would anyone please be willing to share a brief snip

[2015-10-27 12:29] olafkaehler commented on #21
I've added the discussed function in my local fork. Feel free to merge it back to the master if you find it useful.

[2015-10-27 18:58] lobsteroh commented on #29
solved ... answer in jlibuvc

[2015-10-27 18:58] #29 closed

[2016-01-05 16:31] themightyoarfish opened #34 "Why is there no uninstall rule?"
The Makefile does not contain an `uninstall` target or such. I would like to avoid tracking down all installed files by hand.

[2016-01-07 10:56] nsonje commented on #10
I also face the same issue with my camera.
I can control few settings but can not control others.
In the log it says - 'LIBUSB_TRANSFER_STALL' which basically means UVC_PIPE_ERROR only.

[2016-01-11 19:13] ShaoshanLiu opened #35 "What is the purpose of the Cameras directory?"
What is the purpose of the Cameras directory besides storing the lsusb outputs?  If I wanted to support a new camera, do I need to extend anything under the cameras folder?

[2016-01-11 22:25] ktossell commented on #35
The files in that directory are just for reference. You shouldn't need to change anything in order to use a new camera, unless there are UVC features that you want to use that haven't been implemented in libuvc.

[2016-01-11 22:31] ShaoshanLiu commented on #35
Thanks we are evaluating libuvc for a production project.  So far, who are the major users of libuvc?  Has it been used extensively in robotics research?

thanks!

Shaoshan

[2016-01-20 12:59] mkassner commented on #9
This refers to https://github.com/pupil-labs/pyuvc/issues/9

[2016-01-27 13:53] BoardRigid opened #37 "Excessive use of realloc() in _uvc_populate_frame() ( stream.c )"
While working through how to make our code exclusively use externally allocated data buffers, I came across this one ..

In _uvc_populate_frame(), the code only calls realloc() when the buffer isn't big enough.

However, the data_bytes field in the uvc_frame_t structure is always updated to the currently being processed frame size, whether or not realloc() has been called.

This didn't seem an obv

[2016-02-09 13:31] timlukins commented on #12
Just tried Windows build of 0.0.5 of libuvc based on Windows 1.0.20 libusb binaries release from official site here: http://sourceforge.net/projects/libusb/files/libusb-1.0/libusb-1.0.20/libusb-1.0.20.7z/download

Everything still exactly as reported by @MichaelBarz above. I used Zadig and tried the WinUSB and libusbK driver. I also had to disable the debugging macros (but then able to get debug b

[2016-02-09 14:04] timlukins commented on #12
Digging into the libusb code for 1.0.20 says it all really...

**libusb/core.c**

**/libusb/os/windows_usb.c**
[code]

[2016-02-09 14:15] mkassner commented on #12
@timlukins I dont think this call makes sense on windows. It should be omitted since windows does not know the concept of a 'kernel driver' AFAIK .

I dont have the knowledge or time to get this to work on windows and my suspicion is that the real problem comes down to getting this to work: https://github.com/libusb/libusb/issues/46

We really want to see libuvc working on windows and plan to but

[2016-02-10 20:37] Timmmm commented on #12
I could get libuvc to work on Windows 10 or later (well actually Windows 8). Did you mean you plan to *put* a substantial bounty on it? If so I'm interested (assuming you don't require Windows 7 support).

[2016-02-11 09:12] mkassner commented on #12
@Timmmm if that is the case we should talk! Please contact me: moritz [at] pupil-labs dot com

[2016-02-24 13:31] v4hn opened #40 "New Release"
The latest release was tagged in 2014 and quite some development has happened since then.
Especially, libuvc_ros' master branch currently does not build with a released version of libuvc because it misses the `uvc_find_devices` function.

It would be great to have a new version tag for this library!

[2016-03-03 08:55] Pazu opened #42 "UVC 1.5"
Is version 1.5 of the class specification already supported or, if not, is it planned? At present it appears only version 1.1. is supported; is that right?

[2016-03-03 18:13] kshatrea commented on #12
Has anyone been able to solve this?

[2016-04-12 19:08] nosleduc opened #45 "Compilation with Visual Studio 2015 Community"
I'm trying to compile libuvc with vs 2015 but it fails because of the pthread.h.
How can I compile libuvc with vs 2015 ?

[2016-05-04 07:33] Rhodanos commented on #45
Build pthread for windows found at "https://github.com/GerHobbelt/pthread-win32.git" and include it in the CMakeLists.txt of Libuvc

[2016-05-10 13:11] Rhodanos commented on #45
You can also do the following:
replace

`#include <pthread.h>` in libuvc_internal.h

with

`#ifdef _WIN32
#include "winpthreads.h"
#else
#include <pthread.h>
#endif`

After doing so, you must comment out the timespec struct in winpthreads.h, since windows has it shipped in later sdk versions.

[2016-05-12 16:45] nosleduc commented on #45
Thanks

[2016-05-12 16:45] #45 closed

[2016-06-02 17:18] timlapse opened #49 "High resolution image capture"
Is it possible to utilize a cameras full (i.e. 8MP) resolution for image capture with this library? It appears that "one-shot image capture" is on the roadmap but hasn't yet been developed.

I would appreciate any guidance on this issue.

[2016-06-10 18:30] rsichel107 opened #50 "example.c ends in a segfault"
I am trying to use a logitech camera for an application I am working on. I am curious if anyone else has successfully run example.c.

I downloaded the code as instructed on my linux machine. I moved the example.c code into the build directory and compiled it with this:
`gcc  example.c -o exampleprog -luvc`
(Originally there was an access denied problem so I am running it as a `root` user, but that

[2016-06-20 15:42] rsichel107 commented on #16
hanging error still remains but @saki4510t solutions seemed to fix the problem!

[2016-07-07 04:44] willpatera commented on #12
There's a bounty on this now :point_right: https://www.bountysource.com/issues/35223500-add-windows-support

[2016-08-24 13:54] amitv87 opened #53 "sometimes program hangs when uvc_stop_streaming(devh) is called (even with test.c)"
Tried with different cams and it happens with all even on different operating systems (os x, ubuntu and raspbian)

[2016-09-05 02:11] ZhonganLai opened #54 "About libuvc resolution set"
Hi all
libuvc with libusb, the resolution of the equipment acquired with VLC not get the same resolution , the resolution of the device is set to 1920 * 960, libuvc obtained is 1280 * 720,But is not the same bitrate setting you are 8M, libuvc acquired only 2M, libuvc have not provided initialize the device resolution and bitrate of API

[2016-09-14 08:36] pbaret opened #55 "Streaming problem [fixed]"
I had a piece of code using libuvc on a Ubuntu 14 computer. The code is working perfectly. I also have a laptop with Ubuntu 14, and the same config and the same code is not working.

libUVC has troubles to stream the data from my device.

After some research I found out that this is due to characteristics specific of your OS and hardware. In order to fix that, you can try to change the constant "L

[2016-09-15 14:37] ZhonganLai opened #56 "How to add the H.264 format in libuvc"
Dear All
How to add support for the H.264 format in libuvc ？
Thank you

[2016-09-15 14:38] #54 closed

[2016-09-18 01:39] #56 closed

[2016-09-18 01:40] ZhonganLai commented on #56
The question is ok

[2016-09-28 15:12] coreylowman commented on #50
I am currently running it on a beaglebone black, and sometimes it runs fine, but sometimes it does segfault. I ran gdb on it and it seems like its crashing in a call libusb. It crashes in uvc_stop_streaming call.

[2016-10-19 16:23] ovchinnikov-v-a commented on #50
It seems I've had the same trouble - my app using libuvc crashes when trying to close device with uvc_close() after starting a stream with uvc_stream_start().

The actual problem was in function called uvc_stream_stop - there is erroneous usage of libusb_cancel_transfer return value:

`int res = libusb_cancel_transfer(strmh->transfers[i]);
if(res < 0) {
 free(strmh->transfers[i]->buffer);
 libusb_

[2016-10-19 16:38] ovchinnikov-v-a commented on #53
Maybe solution from #16 or #50 will help

[2016-12-31 16:25] hipersayanX commented on #53
I can confirm that this issue can be solved applying the changes from [#16](https://github.com/ktossell/libuvc/issues/16#issuecomment-101653441).

[2017-01-31 23:37] jorgearroyop opened #63 "libuvc on FreeBSD - program hangs, _uvc_stream_callback never executes"
Hi,

I'm having problems while running test.c and example.c on FreeBSD. The execution of a thread hangs on the __uvc_user_caller_ function in the following part:
[code]
I traced the problem to the __uvc_stream_callback_ function which is **almost** never executed. I said almost because around 1 out of 30 times that I run the program the thread doesn't hang. The problem is that if __uvc_stream_call

[2017-02-02 00:12] jorgearroyop commented on #63
I forgot to mention that I'm using FreeBSD on VMware Workstation 12 Player (version 12.5.2). I also have already tested in the Virtual Machine Settings of VMware different USB compatibility options (e.g. USB 2.0, USB 3.0) but the test.c program still not working.

I also can corroborate that on Linux on VMware the code works perfectly. However, I would like to have it working on FREEBSD.

[2017-02-02 22:51] ojotoxy opened #64 "Bulk Transfer results in LIBUSB_TRANSFER_TIMED_OUT"
Occasionally upon connecting to the device and opening a stream, I only get LIBUSB_TRANSFER_TIMED_OUT inside _uvc_stream_callback.

I can only make this go away by reconnecting the device.

My device has a blinking LED when the transfer is working, and it's not blinking in this state.

Any ideas why this would happen?

This might not really be a libuvc issue, it might be bugginess in the hardware

[2017-02-23 19:58] #18 closed

[2017-02-25 16:03] beiliubei commented on #1
@stevenlovegrove any update?

[2017-03-02 03:13] stevenlovegrove commented on #1
Hi @beiliubei - no, I tried a few things back in 2013, but I didn't get anywhere.

[2017-03-02 08:35] beiliubei commented on #1
@stevenlovegrove I solved it by build && install source without "brew install libuvc"

[2017-03-06 20:16] stevenlovegrove commented on #1
Great! @beiliubei What was your configuration of libusb / libuvc / OSX?

[2017-03-10 07:00] stevenlovegrove commented on #53
Just a +1 from me on this issue on Ubuntu 16.04.

Similar it seems to other users, I traced the problem down to the cancel transfer logic, where each LIBUSB_ERROR_NOT_FOUND results in strmh->transfers[i] not being set to null
https://github.com/ktossell/libuvc/blob/master/src/stream.c#L1196

and hence an infinite loop here:
https://github.com/ktossell/libuvc/blob/master/src/stream.c#L1207

My work

[2017-03-11 16:46] pwuertz opened #65 "Additional Pixel Format Options"
I'm having trouble capturing from a camera that provides data in the YUV 4:2:0 format (I420p) or Y16. It seems that the capture parameters are not accepted, probably because I am unable to set the correct pixel format in libuvc. The `uvc_frame_format` enum doesn't seem to include those formats. Is there a way to add this to libuvc?

[2017-04-18 17:27] isikmustafa commented on #12
Is there any updates on this?

[2017-04-19 07:01] BetterDaZhang opened #66 "How to add support for the H.264 format in libuvc ？"

[2017-04-20 06:57] mkassner commented on #12
We made this fork work for windows: https://github.com/pupil-labs/libuvc You will need to use libusbK drivers.

[2017-04-28 07:46] reda-alaoui commented on #12
Hello @mkassner,
can you create PR to merge your modifications in the main repository?

[2017-04-28 21:22] mkassner commented on #12
@reda-alaoui  I can do that but we have diverged form the main repo on two other issues so I m not sure how clean that will be. I ll make a PR and you can cherry pic what you like out.

[2017-05-03 10:43] asdlei99 commented on #12
@Timmmm @mkassner  uvc_start_streaming  ret UVC_ERROR_NOT_SUPPORTED , i have a try above, but still error

[2017-05-03 10:44] asdlei99 commented on #12
env:  windows10  vs2013 x64  debug

[2017-05-03 12:08] willpatera commented on #12
@asdlei99 - did you follow the instructions in https://github.com/pupil-labs/pyuvc/blob/master/WINDOWS_DEVELOPER.md ?

[2017-05-12 13:46] JulianLiao5 commented on #12
@asdlei99 Do you have further investigation, do you succeeded? I still fail by following the instructions on https://github.com/pupil-labs/libuvc. Please give me an hand, thanks!

[2017-05-12 13:47] JulianLiao5 commented on #12
@mkassner @Timmmm I follow the instructions on  https://github.com/pupil-labs/libuvc, but still fail uvc_start_streaming ret UVC_ERROR_NOT_SUPPORTED(-12), can you guys give me a hand ? Thanks in advance!

[2017-05-12 13:48] JulianLiao5 commented on #12
@mkassner @Timmmm @asdlei99

[2017-05-12 13:49] JulianLiao5 commented on #12
@Timmmm @mkassner @asdlei99

by the way, I use libusbK driver + pupil-labs/libusb + pupil-labs/libuvc, it still fail.

[2017-05-12 13:50] JulianLiao5 commented on #12
@willpatera I follow the instructions in https://github.com/pupil-labs/pyuvc/blob/master/WINDOWS_DEVELOPER.md, it talks about python pyuvc, it has no business with the issue we discuss, and it can solve our problem.

[2017-05-17 11:34] AnthonyTheKoala opened #69 "Is there something missing in the installation of libuvc"
I am interested in installing the libuvc package for python.

I went to the page at https://github.com/pupil-labs/libuvc and followed the instructions at the bottom.

Here is the following data:
OS: MS Windows 7 (64 (bit)
Python: 3.4.4 (64 bit)
Opencv: 3.2.0
libusb: 1.0.19.10905, from usb0.getVersion() =  major= 1, minor=0, micro=19, nano=10905, rc=b'', describe=b'http://libusb.info = 1.0.19.10905

[2017-05-17 11:56] AnthonyTheKoala commented on #69
I forgot to mention that I looked at "C:/Python34/libuvc/CMakeFiles/CMakeOutput.log
[cmakeoutput.txt](https://github.com/ktossell/libuvc/files/1007596/cmakeoutput.txt)
 and there was nothing remarkable.
The file cmakeoutput.txt as opposed to cmakeoutput.log is attached (the system only likes files with the *.txt suffix) which is the same as cmakeoutput.log
Typically the results is
<pre>
Build succ

[2017-05-18 07:38] Yaoweicong commented on #56
Can you tell me , how to add?

[2017-05-22 20:36] AnthonyTheKoala commented on #69
I will ask the question again, in another issue.
I am still having trouble installing

[2017-05-22 20:36] #69 closed

[2017-05-22 20:49] AnthonyTheKoala opened #70 "Trouble installing libuvc"
I have tried to install libuvc. I downloaded libuvc-master.
Using the GUI version of CMake, I am still getting the following errors.
<pre>
The C compiler identification is MSVC 19.0.24215.1
The CXX compiler identification is MSVC 19.0.24215.1
Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/x86_amd64/cl.exe
Check for working C compiler: C:/Program Files (x86

[2017-05-22 21:05] ghafran opened #71 "unsupported descriptor subtype: 13"
Getting this error when opening a device.

Looks like we are not handling uvc_vs_desc_subtype 13.

[2017-05-31 02:31] caoyangjiang commented on #71
I got the same error message but it does not affect functionality.

[2017-05-31 03:51] caoyangjiang opened #72 "Multi camera support"
I got single camera to work. I am trying to get two cameras to stream at the same time. I tried creating one context two devices, two context one for each device, and moving two devices onto two different threads. It seems none of these works. The second device will never pass uvc_open() although the first one works just fine. Does this library support multiple devices simultaneous streaming? If s

[2017-05-31 20:57] stevecotton commented on #72
What errors are you getting from uvc_open()?

Are both cameras on the same USB root hub, and does it have enough bandwidth for both cameras?

[2017-05-31 21:03] caoyangjiang commented on #72
I did not get any error from uvc_open(). It can't proceed to the next line of code, which prints the error. Both cameras are directly plugged into the USB ports on the backside of the computer. I think there should not be any competition on the bandwidth. What is the correct procedure to handle multiple cameras? Should I create one context or two context ?

[2017-05-31 21:28] stevecotton commented on #70
Hi Anthony,

The user who wrote the Win 8 + Python 3.5 HOWTO that you linked to in issue #69 also has the large pull request #68, where he/she says adding Windows support will require work to apply. As you're trying to get it working with Win 7 and Python 3.4, I'd assume the task is development and porting, not just installing; it's going to be harder.

The bit about `JPEG_LIBRARY_NAMES, LIBUSB_IN

[2017-05-31 22:22] AnthonyTheKoala commented on #70
Dear Steve,

Thank you for your reply it is appreciated.

Is there anything of a ‘lower abstraction’, that is below libusb’s abstraction which will allow me to control a UVC camera, that is a USB camera that in addition to setting and getting the resolution and setting and getting the audio will also allow me to control the pan/tilt/zoom functions.

I know for wireless webcams that “http://”  type

[2017-06-01 05:56] caoyangjiang commented on #72
I experimented again with single context and two uvc_open(). Both camera device open normally. However, if I call uvc_start_streaming() for one device, it will block uvc_start_streaming() for the second device. The program stuck on the second uvc_start_streaming(). No callback is called for the second uvc_start_streaming().

[2017-06-01 09:02] asifbashir opened #73 "Need help with call back function"
Hi,
  I am new to c and libuvc. I successfully run example.c and confused about call back function.
Actually i need to maintain a buffer , lets say of size 1000 frames, and whenever a user press a key I have to create a video of this buffer . Can someone please guide how can i achieve this ?

[2017-06-02 06:35] caoyangjiang commented on #73
You can declare a member variable to hold 1000 frames. In that case, you don't have to "create" buffer every time. You can simply overwrite this buffer. The callback function is always running once you call uvc_start_streaming(). So I suggest you create an atomic variable of boolean type and a counter. Once the user press a key, you set counter to 0 and then boolean variable to true (order matters

[2017-06-05 10:01] asifbashir commented on #73
Hi, Thanks for your help. I have a buffer containing frames, Now I want to write a video (mp4 or avi) file. How can I do this ? Need some command or code .

[2017-06-06 07:52] Pazu commented on #42
Could someone please comment on this? Is UVC 1.5 alive, with even the slightest prospect for support on Linux?

[2017-06-13 05:53] caoyangjiang commented on #73
That is a whole another story. I'd suggest doing it with command. Before you turn frames into mp4, you want to compress it with H.264 or H.265. You can save all the frames in RGB or YUV format and then use ffmpeg to concatenate, compress and encapsulated inside a mp4 or avi file.

[2017-06-28 12:15] lobsteroh opened #74 "asynchronous/callback vs synchronous/polling"
i am getting great performance out of the library for streaming (i think i am using synchronous) and i am now trying to push it closer to the framerates my high-speed camera is capable of (according to specs). i would love to get frames more often (even if they are duplicates of previous ones). anyone have experience with grabbing frames in asynchronous mode? any examples much obliged.

[2017-06-28 19:02] lobsteroh opened #75 "compile errors"
i now get compile errors on

    $ make && make install
    Scanning dependencies of target uvc
    [ 10%] Building C object CMakeFiles/uvc.dir/src/ctrl.c.o
    [ 20%] Building C object CMakeFiles/uvc.dir/src/ctrl-gen.c.o
    [ 30%] Building C object CMakeFiles/uvc.dir/src/device.c.o
    [ 40%] Building C object CMakeFiles/uvc.dir/src/diag.c.o
    [ 50%] Building C object CMakeFiles/uvc.dir/src/fr

[2017-06-28 19:34] lobsteroh commented on #75
somehow my previous homebrew installs for libjpeg and libusb had gotten lost, reinstalled both with homebrew and all is good again.

[2017-06-28 19:35] #75 closed

[2017-07-06 17:16] jamesfidell commented on #74
I don't know what sort of frame rate you're talking about, but I have a fork of libuvc that I've used for frame rates of hundreds per second using asynchronous transfers.  I'm hoping Ken will pull the changes I've made back into the main repo.

[2017-07-06 17:20] jamesfidell commented on #65
I have a fork that supports Y16 if that's of help to you.  I've asked Ken to pull this back into the main repo.

[2017-07-06 17:21] jamesfidell commented on #42
Currently I think 1.0 and 1.1 are "mostly" supported.  I don't think anything new in 1.5 has been added at all.  You may need to find someone who wants to scratch that particular itch if you need it doing :)

[2017-07-06 17:27] jamesfidell commented on #16
Since oacapture is mentioned...

I don't see this problem on OSX and haven't done for some time.  In my own fork I've done some clean-up work on a race condition that I think causes trouble when streaming stops.

I'm working on both OSX and Linux with cameras that can generate hundreds of frames per second, so I think I'd still be seeing it somewhere in testing if it were still a problem.

[2017-07-27 07:26] ldima opened #80 "Sometimes preview freeze on some devices"
Hello friends.
I use wrapper library (libuvc inside) with customization but Owner doesn't answered on request to help.
May be anyone will try to help me here, because it don't simple for my experience with libUVC

shortly: on old devices ( < 2017 year) preview freeze on high resolution.
I try to write it in details here: https://github.com/saki4510t/UVCCamera/issues/195

I will be grateful for any

[2017-07-27 09:50] ldima commented on #80
When was bug ,preview got offset . It seen on picture

![screenshot_20170727-123454](https://user-images.githubusercontent.com/12687357/28664796-38ac0aae-72ca-11e7-86ed-f1dc24eba3fc.png)

[2017-07-30 03:59] andymatos opened #81 "How to get brightness while streaming without affecting preivew?"
I am doing some tests using libuvc on my camera device. My purpose is to get the brightness of each frame. I am using pthread to start a preivew
`pthread_create(&preview_thread, NULL, preview_func, (void *)this);`
and in preview_func I use a callback to get preview frame
`uvc_error_t result = uvc_start_streaming_bandwidth(devh, ctrl, preview_frame_callback, (void *)this, Bandwidth, 0);`
In preview

[2017-07-31 10:18] fengbenpaao commented on #66
this is crazy  issue.     I am try to do it;

[2017-07-31 13:04] ldima commented on #80
Could particular camera throw broken or specified frame and libuvc stop.
I tried to add logs in stream.c and uvcpreview.cpp by I have not found answer (what is problem) yet

[2017-07-31 15:09] dongdong0602 opened #82 "Some trouble installing libuvc"
-- checking for module 'libjpeg'
--   package 'libjpeg' not found
-- Building libuvc with JPEG support.
-- Configuring done
-- Generating done
-- Build files have been written to: /home/exbot/libuvc/build
I can't find the 'libjpeg' package,I don't know how to fix it,should I install some sofeware before I do it?Thank you

[2017-08-03 12:07] reagentoo opened #83 "CMake Error: install TARGETS given target "uvc_static" which does not exist"
[code]

[2017-08-03 20:55] ktossell commented on #83
Could you please try again with the changes I just pushed? Shared-only and static-only builds were broken.

[2017-08-03 20:57] ktossell commented on #82
That should be ok -- one of the attempts to find libjpeg failed, but another one must have succeeded (most likely cmake was able to find jpeglib.h in /usr)

[2017-08-03 21:01] reagentoo commented on #83
It seems everything ok. Thanks.

[2017-08-17 07:25] fantix commented on #66
@fengbenpaao 有进展吗？Any progress?

[2017-08-20 15:22] avilleret opened #85 "uvc_get_input_select crashes"
both on Mac OS X and Ubuntu, I got a crash when calling `uvc_get_input_select` with different cameras.

here are the crashlog and the `example.c` to reproduce the crash : https://gist.github.com/avilleret/4feffddc9c95bcf075b1dfd909b12ce6

moreover I tried with `UVC_GET_CUR` and `UVC_GET_INFO` request

any idea on what is wrong here ?

[2017-08-20 16:14] openastroproject commented on #85
A quick scan suggests that no selector units have been parsed so presumably the camera doesn't have any and a call to "uvc_get_input_select()" therefore makes no sense.

Have you tried calling "uvc_get_selector_units()" first to see if it returns a non-null value?

[2017-08-20 19:07] avilleret commented on #85
ha OK that makes sense, I was thinking that `uvc_get_input_select(m_devh, &input_select, UVC_GET_INFO)` will return a non capable flag and `uvc_get_input_select(m_devh, &input_select, UVC_GET_CUR)` and error if the device doesn't have this capability

anyway, it seems to be fixed now
thanks for the quick reply and congrats for all the work

[2017-08-20 19:07] #85 closed

[2017-08-21 01:37] fengbenpaao commented on #66
@fantix   see   https://github.com/saki4510t/UVCCamera/issues/204

[2017-08-30 15:03] #81 closed

[2017-09-21 00:31] k-okada opened #86 "request to add new tag v0.0.6 ( or v0.1.0 ?)"
hi @ktossell
can you add new tag to the source tree? since latest version was v0.0.5 and that was 3 years ago.
we have requests from  ROS users who want to use latest features of libuvc.
Of course, if you add tag information, I can do all jobs related to releasing into ROS ecosystem

Cc: @7675t

[2017-09-21 02:42] ktossell commented on #86
just pushed https://github.com/ktossell/libuvc/tree/v0.0.6 :smile:

[2017-09-21 04:32] k-okada commented on #86
Thank you for quick response!!!
I have updated the changelog, without understanding what each commit really means, hope this could be good starting point for your edit....
https://github.com/ktossell/libuvc/pull/87

[2017-09-21 04:37] k-okada commented on #86
@ktossell could you add @7575t and @gbiggs to these release packages? They'll also help us to release into ros build firm...

https://github.com/ktossell/libuvc-release
https://github.com/ktossell/libuvc_ros-release
https://github.com/ktossell/camera_umd-release

[2017-09-21 17:55] ktossell commented on #86
I think I lost the ability to change repo permissions when I transferred those repos to ros-drivers-gbp. @jack-oquin or a ros-drivers-gbp maintainer may be able to add @7675t to the camera_drivers team, which has access to those repos.

[2017-09-22 02:42] 7675t commented on #86
@ktossell hi, can I say hello to you or you are not here ROSCon?

[2017-10-19 16:22] ftaiolivista commented on #12
Hi I'm on Windows 10. I have compiled Pupil LibUSB fork, then Pupil LibUVC and then created a test Visual C++ app.
I have used Zadig to apply LibusbK to webcam (I see the webcam under libusbk devices).
I'm able to open device and query info but when a try to start streaming I keep getting Not Supported (-12).

What I'm missing? :(

[test.txt](https://github.com/ktossell/libuvc/files/1399157/test.t

[2017-11-10 13:45] ftaiolivista opened #90 "Only few streaming lines on windows in UVC_FRAME_FORMAT_YUYV"
Hi,

I'm using your libusb (pupil-labs fork) and libuvc (pupil-labs fork) with opencv on windows.

My device support UVC_FRAME_FORMAT_YUYV mode.

On Linux I can get a full frame streaming but on windows i can get only few lines of video streaming, but that few lines are working at least :)

Any idea on how I can fix that?

![screenshot_20171110_115932](https://user-images.githubusercontent.com/150

[2017-11-10 13:54] #90 closed

[2017-11-16 00:00] nussetorten opened #91 "Capture video and data from device"
I have an interest in streaming video data and bulk data from the same USB3.0 device.  My current implementation features a libuvc callback to retrieve video frames and a libusb_bulk_transfer to retrieve data.  The bulk transfer happens in a separate thread from the video transfer.

My initial implementation succeeds in retrieving data and video but demonstrates some instabilities, especially arou

[2017-11-16 21:30] nussetorten commented on #91
The hang appears to occur when libusb_cancel_transfer gives a return code of LIBUSB_ERROR_NOT_FOUND (L1231):

https://github.com/ktossell/libuvc/blob/77b43d618e71698f52f7beb88c4b99b5f018259b/src/stream.c#L1228-L1237

The following cond wait never resolves:

https://github.com/ktossell/libuvc/blob/77b43d618e71698f52f7beb88c4b99b5f018259b/src/stream.c#L1247

[2017-11-17 04:09] nussetorten commented on #91
I've authored a short application which triggers the error.  Funny enough, I don't event need to poke libusb to experience the hang.  Beginning to suspect something nastier...

Other info:
- libusb-1.0, version 1.0.2
- libuvc, version 0.0.5 (09f1822)

[code]

[2017-11-17 04:10] nussetorten commented on #91
As I wrote the previous comment, I noticed how old a version of libuvc I was using.

Updating to 0.0.6 resolved my issues.

Aren't bugs which resolve themselves the best?

[2017-11-17 04:10] #91 closed

[2017-11-17 21:59] openastroproject commented on #91
I think this problem could be the one fixed by my change here: https://github.com/ktossell/libuvc/commit/c3ec064d135b598273e2fae6679afc5f9ff8db39 in which case moving to the later version is definitely the correct thing to do.

[2017-11-20 03:33] nussetorten commented on #91
@openastroproject thanks for the extra digging, this looks to be the culprit 👍

[2017-12-14 22:49] aFunnyBit opened #92 "CentOS7 libusb-1.0 not found"
[code]

ERROR does not complete with the error libusb-1.0 not found

[code]

Is there anyway I can manually point to the libusb I have installed

[2018-01-07 14:55] andymatos opened #93 "Get invaild mode error when using uvc_get_stream_ctrl_format_size"
I have a uvc camera and try to do some image processing work on its stream. I am working under ubuntu 16.04. All works fine if I use opencv to open the device. Since I'd like to open the device through the vid and pid, I try to use libuvc to get the video stream.
So I tried the test.c in libuvc and get the following output:
[code]
In test.c I only change the vid and pid in uvc_find_device and the

[2018-01-09 03:20] maozhenyu00 commented on #93
hi,I also met this problem.
The get_mode only know  "UVC_FRAME_FORMAT_MJPEG"

[2018-01-22 13:46] martijnthe opened #94 "Device side USB Video Class library?"
@ktossell hi Ken, thanks for this amazing library! I'm also looking for a device-side library (preferably in plain C). Do you have any suggestions? Thanks.

[2018-01-25 10:07] Shuyun6 opened #95 "uvc_mjpeg2yuyv return -98"
In frame-mjpeg.c, uvc_mjpeg2yuyv return -98, why???

[2018-02-15 12:40] lutgaye commented on #25
I am facing the same issue.  Any update on this?

[2018-02-19 09:32] s-eswar commented on #70
Hi People,
I'm using this libuvc for reading input from my usb3.0 stereo camera(from leopard imaging). I installed the libuvc. However, when I run the ./uvc_test, I'm unable to see any display(any capture) from the camera. A blank white screen appears...
what to do?

[2018-02-26 09:56] ghost opened #96 "High CPU Usage"
Hi,

The CPU usage for just reading frames from camera is way too higher than v4l2 read (like 30% versus 2%, for full HD frames at 30 fps, for e.g).  This happens the moment  uvc_stream_start() is called.  Need to resolve this urgently to be able to use libuvc for my application.  Thanks for your help!

Puneet

[2018-04-28 10:59] prnvjb opened #98 "Unable to run example.c. Undefined reference to uvc_init and to rest."
#include "libuvc/libuvc.h"
#include <stdio.h>

int main(int argc, char **argv) {
  uvc_context_t *ctx;
  uvc_device_t *dev;
  uvc_device_handle_t *devh;
  uvc_stream_ctrl_t ctrl;
  uvc_error_t res;

  res = uvc_init(&ctx, NULL);

  return 0;
}

ERROR:: undefined reference to "uvc_init"
it is also showing this error to  "uvc_find_device"

I installed everything correctly. I'm using ubuntu 16. Did I

[2018-06-07 03:06] yoiang commented on #93
I'm not sure if it helps but I had a conflicting version of libuvc in another library (librealsense) that had expectations that resulted in an invalid mode error.

[2018-06-15 08:26] guanguanboy opened #99 "how to make libusb installed?"
Getting and Building libuvc
Prerequisites: You will need libusb and CMake installed.
To build, you can just run these shell commands:
git clone https://github.com/ktossell/libuvc
cd libuvc
mkdir build
cd build
cmake ..
make && sudo make install

I just wonder how to make  libusb installed?

[2018-06-29 15:09] logieestrada opened #100 "Not easy to build on Windows with Visual Studio 2015"
Im starting to play around with libuvc, but unable to successfully compile
 - I added pthreads_win32
- Now it is looking for libgen.h

Are there instructions how to compile on Windows?

[2018-07-08 13:46] mcuee commented on #99
libusb has binary download and it contains binary for MSVC and MinGW 32/64bit. You can download the binary from github release page or libusb Sourceforge.
https://github.com/libusb/libusb/releases
https://sourceforge.net/projects/libusb/files/libusb-1.0/

If you use infrastructure like MSYS2, then it has the libusb binary inside and it has git/cmake also.

[2018-07-09 01:20] ArifSohaib commented on #99
There seems to be a mistake in the libuvc_internal.h file.
The include says #include <libusb.h>
But according to https://askubuntu.com/questions/629619/how-to-install-libusb
after installing libusb-dev, it needs to be included like #include <libusb-1.0/libusb.h>
It now builds fine for me.
Note that I am kind of new to C++ and build systems so I may be wrong. (I know C++ but I mostly use Visual Stu

[2018-07-09 07:49] guanguanboy commented on #99
@mcuee  thx a lot。

[2018-07-09 14:09] mcuee commented on #99
@ArifSohaib If you use CMake or pkg-config to detect libusb, then you do not need to use <<libusb-1.0/libusb.h>, in fact, that is the recommended way.

[2018-07-09 14:13] mcuee commented on #100
I used MSYS2 and it seems to be not difficult. I have not tried Visual Studio myself. Anyway, you may want to try the fork here and it seems to offer better Windows support, including instructions to build under Windows.
https://github.com/pupil-labs/libuvc
https://github.com/pupil-labs/libuvc/blob/master/INSTALL_WINDOWS.md (the first part is not necessary, you just need to use latest libusb-1.0.2

[2018-07-09 14:16] mcuee commented on #92
Why not just install the libusb package under CentOS?

[2018-07-09 14:46] ArifSohaib commented on #99
@mcuee Thanks. I would have preferred not to change any existing code to avoid problems down the road but as I said, I am kind of new to make/build systems. Is this https://cmake.org/cmake/help/v3.0/command/find_library.html the method to find the library? And is it supposed to go in the CMakeLists or Makefile?

[2018-07-10 10:08] mcuee commented on #99
Yes that is supposed to be the way to use CMake to find a library.

I think the fork here offer the option to build under Windows using Visual C++, it has the option to specify the libusb directory.
https://github.com/pupil-labs/libuvc
https://github.com/ktossell/libuvc/blob/master/CMakeLists.txt

But then I think that fork is not that good to support non-VC build infrastructure like MSYS2.
I am n

[2018-07-30 15:56] micjansedge opened #101 "Misleading comments for the bmControls field"
Just wanted to point out that the comments in the `libuvc.h` header for the `bmControls` fields of `uvc_input_terminal_t` and `uvc_processing_unit_t` are misleading. They should point to the bit definitions in 3.7.2.3 "Camera Terminal Descriptor", Table 3-6, and in 3.7.2.5 "Processing Unit Descriptor", Table 3-8, respectively.

[2018-08-12 00:59] sabetAI commented on #42
How about now?

[2018-09-04 03:04] tonbing opened #102 "Compilation error 'undefined reference to `jpeg_mem_src`"
When I am compiling my program by including luvc library I am getting this error and I am not able to figure out how to resolve this error. I am working on centos linux version. I am wondering if anyone face this issue and help me resolve

[2018-09-27 04:01] attina opened #105 "Build failed due to "sys/time.h" is not available on windows"
Following is the fail log.

2>c:\projects\lightsaber2\common\libuvc\include\libuvc\libuvc.h(10): fatal error C1083: Cannot open include file: 'sys/time.h': No such file or directory
2>ctrl-gen.c
2>c:\projects\lightsaber2\common\libuvc\include\libuvc\libuvc.h(10): fatal error C1083: Cannot open include file: 'sys/time.h': No such file or directory
2>device.c
2>c:\projects\lightsaber2\common\libuvc\

[2018-10-03 18:04] drjasonharrison-vp-eio commented on #26
Have you tried UVC_FRAME_FORMAT_GRAY16?

[2018-10-03 18:18] drjasonharrison-vp-eio opened #106 "Error in documentation?"

[2018-10-03 18:33] drjasonharrison-vp-eio commented on #106
parameter `strmhp` is not documented:
[code]

[2018-10-03 18:34] drjasonharrison-vp-eio commented on #106
parameter user_ptr is not documented:
[code]

[2018-10-03 21:39] drjasonharrison-vp-eio opened #107 "need example for use of uvc_stream_get_frame"
I'm trying to figure out how to use uvc_stream_get_frame:
[code]
Through examination of the internals of libuvc and testing I've determined:
* uvc_start_streaming must be called with a NULL for the callback parameters
* uvc_stream_open_ctrl appears to be the function used to get the uvc_stream_handle_t for the call to uvc_stream_get_frame

So my current code is:
[code]
However, uvc_strart_streamin

[2018-10-16 04:50] drjasonharrison-vp-eio opened #108 "How to reset camera when "attempt to claim already-claimed interface" is reported"
When the error "attempt to claim already-claimed interface" is reported is there any known way to reset the camera? libuvc appears to work ok but I'm worried that this error will cause problems later on.

[2018-10-16 04:53] drjasonharrison-vp-eio commented on #98
What is your compilation command? You may need to provide the paths to the include and library files.
Please include more output from the compiler.

[2018-11-02 16:41] RustyRaptor opened #109 "Issue with finding JPEG library when compiling."
I am trying to compile libuvc with JPEG support for GetThermal. When I run cmake I get this

[code]

I am running Ubuntu 18.04 and I tried installing every libjpeg development package there is. Including.
libjpeg-dev
libjpeg9-dev
libjpeg8-dev
libjpeg-turbo8-dev
libjpeg62-dev

Is there some other jpeg library or a different version I need? would be nice to have a list of dependencies that's easy to

[2018-11-28 22:32] grzegb commented on #107
Call:
[code]

[2018-11-30 06:38] kinsou commented on #105
#include <sys/time.h> to  #include <time.h>

[2018-12-09 18:35] gregoiregentil opened #111 "Avoid unnecessary memcpy"
First, congratulations and thank you for writing and maintaining a very good library. Code is very clean.

My application which is running libuvc is extremely intensive and I cannot afford to do any unnecessary memcpy. I believe that the memcpy on line 1107 of stream.c is not necessary:

https://github.com/ktossell/libuvc/blob/master/src/stream.c#L1107
memcpy(frame->data, strmh->holdbuf, frame->da

[2019-01-24 03:41] Domihk commented on #102
Hi, have you manage to solve this issue? I find myself int he same situation.

[2019-01-24 03:41] Domihk commented on #109
Hi, have you manage to solve this issue? I find myself in a similar situation.

[2019-01-24 14:51] laheller opened #112 "Android support"
Hi @ktossell

Maybe an Android support might be easily added the same way like the **libusb** does here:
https://github.com/libusb/libusb/tree/master/android

They basically prepared a _config.h_ and _jni/*.mk_ files for Android NDK build.
In their _README_ is everything described and based on that I was able to build libusb for Android.

Best Regards,

Ladislav

[2019-02-04 18:15] ArtlyStyles opened #113 "libuvc test code does not work on ELP 8M USB camera"
I bought two USB cameras from Amazon, one has 2M and  the other one has 8M sensor. I tested them with libuvc on Nvidia Jetson Tx2 running Linux. I download the libuvc code and compile them successfully.

When I used this camera https://www.amazon.com/gp/product/B00LQ854AG, the test program "uvc_test" and "example" worked perfectly.

However, when I used this camera https://www.amazon.com/gp/produc

[2019-02-07 23:54] ArtlyStyles commented on #113
Anyone know why?

[2019-02-09 16:50] cpicanco commented on #113
I am afraid I cannot help you. If of any interest, I have a working uvc-compatible ELP camera that has libuvc as a dependency (for this project here https://github.com/pupil-labs/pyuvc/issues/10).

[2019-02-15 14:12] laheller commented on #112
@ktossell

Update:
It seems someone already did the job here:
https://github.com/saki4510t/UVCCamera/tree/master/libuvccamera/src/main/jni

I think this "issue" can be closed!

[2019-02-27 01:57] jwlodek opened #114 "Does setting the exposure time of UVC cameras through libuvc change framerate?"
I am developing a driver for certain scientific software using libuvc, and it would be very useful to be able to achieve variable frame rates, and not just the ones described when getting camera information. Currently, creating a stream with a framerate not listed throws a UVC Error, but would changing the exposure time affect the framerate?

[2019-03-07 02:12] araza91 opened #115 "How to set camera to default settings?"
Seeing a problem when using manual mode for exposure sometimes messes up the image quality and color. Would be helpful to know how to set the camera back to its default settings?

[2019-05-16 07:36] matejjeglic commented on #72
Has any progress been made regarding this issue. I am experiencing the same problem.

[2019-05-31 05:31] XinyuKhan commented on #12
I get this error too,bro. Do you have further investigation?

[2019-06-13 23:52] ArtlyStyles opened #117 "Saving as video"
Hi, the sample.c and test.c showed how to capture and processing each individual frame. Is there a easier straightforward way to save the camera stream as video?

[2019-06-21 05:16] ArtlyStyles opened #118 "Set Auto Exposure error"
When I set the auto exposure uing the code below
`uvc_set_ae_mode(_devh, 2);`
I got a "Pipe (-9)" error. What does this mean?

I am using this camera https://www.amazon.com/gp/product/B00LQ854AG/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

[2019-06-21 21:54] ArtlyStyles commented on #72
Anyone fixed this problem?

[2019-06-22 04:09] jwlodek commented on #72
I have written a libuvc based driver for scientific image processing (https://github.com/jwlodek/ADUVC), and I have experimented quite a bit with running multiple cameras off of one server. I found that if the cameras had an identical product ID, they would block each other from streaming simultaneously. In addition, in certain cases, depending on the USB interface they are connected to, and the w

[2019-06-22 19:08] ArtlyStyles opened #119 "How to create a uvc_frame_t in c++"
How can I create a uvc_frame_t type in c++?

[2019-06-23 02:32] jwlodek commented on #119
Import `libuvc.h`, then make sure to link against libuvc at compile time. In the code itself you can just treat it as any C struct - I.E. you can just `malloc` memory for it. Keep in mind that when `start_streaming` is called, it expects a callback function that receives a `uvc_frame_t` pointer as a parameter, and this is generated by the library itself, not by you.

[2019-06-25 08:48] seker commented on #42
What a pity!
it still don't support UVC 1.5, I am hopeless~

[2019-07-05 10:02] waitxxxx opened #120 "How to support still image acquisition"
How to support still image acquisition?
UVC_VS_STILL_IMAGE_FRAME is not support now in device.c  , How can I modify it to support still image acquisition?

[2019-07-06 21:35] waddlesplash commented on #120
Still capture support was merged in #89.

[2019-07-06 21:35] #120 closed

[2019-07-06 21:36] waddlesplash commented on #119
You don't `malloc` a `uvc_frame_t*`, it must be made using `uvc_allocate_frame`. This can be called from C++ as well as C.

[2019-07-06 21:36] #119 closed

[2019-07-06 21:37] waddlesplash commented on #117
No; the data that comes from the camera is not in any real standard "video" format (well, MJPEG sort of is, but most people do not want to just save the raw MJPEG.) You will have to use a video codec library to write the frames into a video stream -- FFmpeg, etc.

[2019-07-06 21:37] #117 closed

[2019-07-06 21:39] waddlesplash commented on #42
Is there some specific camera you can point to that uses UVC 1.5 which UVC 1.1 does not work on? Or is there some UVC 1.5 feature you really need to access?

[2019-07-06 21:48] waddlesplash commented on #94
I don't think there are any plans for libuvc to ever operate as a device-side library, no.

[2019-07-06 21:48] #94 closed

[2019-07-06 21:48] #86 closed

[2019-07-06 21:49] waddlesplash commented on #95
I don't really understand what you mean; could you elaborate?

[2019-07-06 21:50] waddlesplash commented on #92
Indeed, why not?

[2019-07-06 21:51] waddlesplash commented on #74
Appears @jamesfidell's changes have been merged :)

[2019-07-06 21:51] #74 closed

[2019-07-06 21:56] waddlesplash commented on #40
A release was tagged in 2017, so libuvc_ros should now be OK :)

[2019-07-06 21:56] #40 closed

[2019-07-06 21:57] #14 closed

[2019-07-06 21:57] waddlesplash commented on #17
PR was merged.

[2019-07-06 21:57] #17 closed

[2019-07-06 21:58] Croydon commented on #42
The Brio Ultra HD Pro Webcam doesn't seem to work with UVC 1.1

[2019-07-06 21:59] waddlesplash commented on #24
Are you still running into problems here?

[2019-07-06 22:02] waddlesplash commented on #64
Is it still reproducible, even on Linux with an unmodified libuvc?

[2019-07-06 22:03] waddlesplash commented on #55
#103 is then relevant here. Does decreasing to e.g. 30 also fix it? Or does it have to be 10?

[2019-07-06 22:04] #26 closed

[2019-07-06 22:07] #11 closed

[2019-07-06 22:09] #112 closed

[2019-07-06 22:11] waddlesplash commented on #70
That is a different issue; please open a separate ticket.

Windows support is also tracked elsewhere, so closing this.

[2019-07-06 22:11] #70 closed

[2019-07-06 22:14] waddlesplash commented on #108
I think the error means that the USB device was already "claimed" by some other program or driver.

[2019-07-06 22:20] #73 closed

[2019-07-06 22:32] #83 closed

[2019-07-06 22:32] #82 closed

[2019-07-07 20:28] #24 closed

[2019-07-08 08:29] v4hn commented on #40
:laughing: This was a long time ago, that's true.
I do not regularly look through all my open issues either...

[2019-07-08 09:13] waitxxxx commented on #120
Nice, thank you very much.

[2019-07-08 12:42] openastroproject commented on #108
This is code I added some time back to flag up a probable bug that I've not been able to track down yet.  It means  the current process is making attempts to claim an interface that it has already claimed.

I don't think any reset should be required, as the function just becomes a no-op if it detects that the interface is already claimed.

My recollection is that Linux doesn't care if you attempt

[2019-07-09 13:32] jwlodek opened #122 "First frame when streaming MJPEGs is partially corrupted"
Since this module seems to be being maintained once again I figured I'd ask if there is a solution to an issue I've been having with it. Whenever I start streaming MJPEG frames, on the first frame I get the following message printed to stderr:
[code]
and my software displays the following log message, which just calls uvc_strerror on whatever error code is returned.
[code]
After some debugging I f

[2019-07-10 03:49] waddlesplash commented on #122
I've seen this appear when using some UVC cameras with other applications. I think it's actually the camera sending the invalid data. We should be able to process it better instead of just failing, but other than that, not much else to be done.

[2019-07-11 03:24] yuliang8 opened #124 "About Libuvc 's STILL Image capture"
Hi all:
    The latest version supports still image features. But We found that It Only parse frame description after Initial, cannot to Capture still Image when host send trigger command to device. so we want to know, whether any one give some help about STILL Image function

 Thanks.

[2019-07-12 02:24] waddlesplash commented on #124
I'm not quite sure what this is asking...

(Still image support was implemented by @brunomarchand fwiw.)

[2019-07-12 12:47] brunomarchand commented on #124
Hello,
Although I did not commit an example how to use the API, here is one from the pull request thread: https://github.com/libuvc/libuvc/pull/89#issuecomment-348552623

I hope this will help.

[2019-07-12 14:05] yuliang8 commented on #124
Thank you very much

发自我的 iPhone

[2019-07-15 15:31] tarhan commented on #109
In Ubuntu 18.04 it called: `libjpeg-turbo8-dev`

[2019-07-24 03:24] #124 closed

[2019-07-24 03:24] waddlesplash commented on #109
Please recheck after #125.

[2019-07-25 13:56] wlbe4 opened #126 "Different result when calling uvc_get_device_list - Linux vs Android"
Hi,
I have compiled the libuvc on both Linux PC and a rooted Android phone (Dev phone running Android 9.0).
The test app on the phone is executed on a root shell terminal.

I have connected a Logitec web cam and only wanted to detect it (currently no openCV code is used to draw the video).

When running the test on Linux, I am getting 2 interfaces Logitec web cam.
The first one has 1 altsettings (

[2019-07-26 19:49] RustyRaptor commented on #109
As you might have guessed I am no longer working on this. The project I am working on is on hold. If I come back to it at a later time I'll let you all know.

[2019-07-26 20:02] RustyRaptor commented on #109
Actually I'll just compile it right now real quick.

and Great Success. Here is the output. Have a nice day.

[code]

[2019-07-26 20:02] #109 closed

[2019-07-26 20:06] RustyRaptor commented on #109
Also successfully built GetThermal so that works too.

[2019-07-27 01:26] waddlesplash commented on #126
What libusb for Android are you using? It's possible that is the main difference here.

[2019-07-27 16:06] tarhan commented on #109
Glad to hear.

[2019-07-28 06:44] wlbe4 commented on #126
Thanks waddlesplash,
I have been using libusb version: 1.0.22.11340 (used it in few Android projects for the past year mainly reading bulk data from an FX3 development kit device).
Today I took latest version (1.0.23.11377) and things got worse.
Now it doesn't list any device.
I will continue to investigate and debug.
If you have any idea what may cause the difference, please advice.

[2019-07-28 07:46] wlbe4 commented on #126
Found the difference between the latest version and the one I was using previously.
I made a change in libusb sources to allow running in Android shell (made it last year and forgot about it...).
The problem is that the define __ANDROID__ is set when we compile the library via ndk-build and usually the code that is under this define assumes that the library is used in an Android application.
In my

[2019-07-28 15:53] wlbe4 commented on #126
After a long day of debugging and comparing traces, I found that libusb compiled with clang introduce a bug in the descriptor parsing. Adding a "printf" call in a certain point in the code (in descriptor.c line 281 after the call to usbi_parse_descriptor(buffer, "bb", &header, 0);) solved the problem.
I am still not sure what is the real issue with clang but when I use an older ndk (r15c) which al

[2019-07-28 17:09] waddlesplash commented on #126
Well, please report that bug to libusb then; likely it's some badly optimized code or the like.

[2019-07-28 17:09] #126 closed

[2019-08-12 01:29] jwlodek opened #128 "Request for function that can get data type / color mode"
In my application that uses libuvc, I need information regarding the frame contents in terms of mono/rgb and 8bit/16bit prior to starting streaming. I used libuvc to write a generic scientific driver for UVC cameras meaning that the same code runs for each camera.

I would like to make a function that can only allow users to select available color mode / bit depth combinations, however, I can't se

[2019-08-12 08:02] openastroproject commented on #128
Is checking "fourccFormat" in the format descriptions insufficient to achieve what you need?

[2019-08-12 13:08] jwlodek commented on #128
Unfortunately no. The fourcc format tells me what format the frame will be, but not necessarily whether it will be 8 bit or 16 bit and if it will be color or grayscale. Note that this is only an issue with the `UNCOMPRESSED` format, as it seems to have instances of being both 8 bit rgb, 8 bit grayscale, and 16 bit rgb. (I have cameras that fall into all 3 categories).

All of the other formats are

[2019-08-12 13:35] openastroproject commented on #128
What values do you get for the four cc value in those cases?

[2019-08-19 23:22] littlewater commented on #53
the same error on my linux pi system, this error never occured on my windows 10.
After try with DEBUG flag on, it tells me (on linux sys), when USB line error (you could plug out for easy reproduce the problem ), some transfer object won't be freed due to the driver impl,
if as the original code  res = libusb_cancel_transfer with return value res = LIBUSB_ERROR_NOT_FOUND, the code just SKIP the fr

[2019-08-23 17:35] jwlodek commented on #92
On CentOS7, libusb-1.0 needs the libusbx-devel yum package I believe
[code]
and you will obviously need the regular libusb package as well
[code]

[2019-08-23 17:41] jwlodek opened #129 "Issues with modernized CMake file."
Since the CMake file was modernized I have started to run into several issues. For one, it now requires CMake 3.1, which isn't too big a problem, however it seems that the CentOS 7 cmake package is still 2.8.12, so building on CentOS is now more difficult. Older Debian and Ubuntu distributions will also have a similar problem (Debian 7 uses CMake 2.8.9 etc.). This will probably not affect too many

[2019-08-23 22:40] waddlesplash commented on #129
CC @tarhan.

[2019-09-24 08:41] DaveBGld opened #131 "Callback exists (-52) Error when getting a frame"
The summary of my code is like this:

[code]

The the first time I get a frame in the streaming loop with:

`res = uvc_stream_get_frame(strmh, &myFrame, 100);`

I get the error **uvc_stream_get_frame: Callback exists (-52)**

Your guidance in solving this much appreciated!

[2019-10-03 02:25] waddlesplash commented on #131
You cannot both set a callback and use get_frame(). Pick one or the other, but not both. That's what the error message refers to.

[2019-10-03 02:25] #131 closed

[2019-10-10 05:28] ghost opened #132 "Auto exposure is not working"
Seems auto exposure is not working. Anyone tried that?

[2019-11-19 13:44] chirag26495 opened #134 "Error while closing uvc stream handle after getting UVC_ERROR_CALLBACK_EXISTS from uvc_stream_get_frame"
**Working Environment \:**
Using Debian Linux,
Using Camera:
$ lsusb
Bus 001 Device 013: ID 04b4:00f8 Cypress Semiconductor Corp.
Bus 001 Device 002: ID 0424:2512 Standard Microsystems Corp. USB 2.0 Hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

Using libusb version v1.0.22,
Using libuvc version v0.0.5,

**After Execution of Code:**
uvc_frame_t *frame_ptr=NULL;
res = uvc_strea

[2019-11-20 11:20] chirag26495 commented on #134
Solved! It was actually before the UVC_CALLBACK_ERROR_EXISTS, the uvc stream handle wasn't closed and opened properly.

[2019-11-20 11:20] #134 closed

[2019-11-25 08:04] alterli commented on #95
I have the same err:

01-01 10:21:35.279: E/libUVCCamera(1633): [1674*UVCPreview.cpp:423:addPreviewFrame]:enter...
01-01 10:21:35.279: I/libuvc/stream(1633): [stream.c:922:_uvc_process_payload_iso]:bogus packet: actual_len=12, header_len=64
01-01 10:21:35.279: W/libUVCCamera(1633): [1673*frame-mjpeg.c:481:uvc_mjpeg2yuyv]:err=19537 7140 640 480
01-01 10:21:35.280: W/libUVCCamera(1633): [1673*diag.c

[2019-12-02 21:54] nwohaibi commented on #72
for what it's worth, see [this](https://raspberrypi.stackexchange.com/questions/105358/raspberry-pi4-error-while-using-2-usb-cameras-vidioc-qbuf-invalid-argument) and [this](https://superuser.com/questions/431759/using-multiple-usb-webcams-in-linux).

[2020-02-20 00:19] IeiuniumLux opened #135 "undefined symbol: libusb_handle_events_completed"
I have `libusb-1.0.so.0` version `2:1.0.21-2` installed in my Ubuntu 18.04 system, and `libuvc.so` is reporting an symbol lookup error. Do I need to install a different version of the libusb-1.0.so.0 package?

$ **dpkg -l libusb-1.0***
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err:

[2020-02-20 07:10] IeiuniumLux commented on #135
never mind. I had the wrong version of the `libusb-1.0.so.0` placed under `/usr/local/lib/`.  Removing it and leaving only the one under `/lib/x86_64-linux-gnu/` fixed the missing symbol.

[2020-02-20 07:10] #135 closed

[2020-02-26 14:49] avsdev-cw opened #136 "Issues compiling on Windows"
For `a cross-platform library for USB video devices` there are quite a few issues I've encountered trying to get libuvc on Windows. So far they include the list below, I'm sure more may be added and I welcome any proper fixes (as apposed to my scratchy work-arounds).

- Depends on libJpeg (whilst optional, in reality most devices stream mjpeg, so making it optional isn't much use) {I got around th

[2020-02-26 16:16] avsdev-cw commented on #136
Example modification to the cmake Find* files (which assumes *_FOUND, *_INCLUDE_DIR AND *_LIBRARIES are defined):
[code]

[2020-03-06 01:53] cn-newit commented on #12
Is there any new progress?

[2020-03-06 01:58] JulianLiao5 commented on #12
sorry, guys, I forget all the details due to it's an about 3years-old issue and no document.

[2020-03-06 07:53] ftaiolivista commented on #12
I was able to make it working on windows a couple of years ago using this fork https://github.com/ftaiolivista/libuvc

[2020-03-06 09:25] cn-newit commented on #12
OK, I'll give it a try!
Thanks.

[2020-03-06 09:35] ftaiolivista commented on #12
Found some notes that can help you.

Use LibUSB fork from pupil labs, follow this instructions:

https://github.com/pupil-labs/libusb/blob/master/INSTALL_WIN.txt

Use my LibUVC fork (  https://github.com/ftaiolivista/libuvc ) following this instructions:

https://github.com/ftaiolivista/libuvc/blob/master/INSTALL_WINDOWS.md

You may need turbo jpeg:

https://github.com/libjpeg-turbo/libjpeg-turbo.

[2020-03-07 02:00] jumpy88 commented on #107
Hello @drjasonharrison-vp-eio have you solved it? Did you try the solution proposed by @grzegb?

[2020-03-07 17:40] waddlesplash commented on #12
I asked pupil-labs about upstreaming their changes here (https://github.com/pupil-labs/libuvc/issues/34) and got no response, so I may try to just merge those manually, unless someone else would like to submit a PR.

[2020-03-09 01:55] dmikushin commented on #132
Yes, same for me (very dark). It's actually even more interesting. I've opened MacOS' builtin Photo Booth before and after launching camera from within libuvc. First time Photo Booth video was bright "as usual". But when I opened Photo Booth *after* testing libuvc, video became a lot darker. And there are no settings to reset it back. Congratulations @ktossell hijacking camera so brutally, that ev

[2020-03-09 02:08] dmikushin commented on #132
Sorry, actually auto exposure works. @deeprun please make sure you supply value of 2:

[code]

[2020-03-09 02:11] dmikushin commented on #118
Same for me on Ubuntu with builtin laptop camera.

[2020-03-10 01:54] ktossell commented on #132
I've posted a PR that applies this correction to the example code; does this look all right? https://github.com/libuvc/libuvc/pull/138

[2020-03-10 02:12] dmikushin commented on #132
@ktossell thank you for looking. Right. Yet, as mentioned in #118 auto exposure won't get through in Linux. Still to be investigated on that side.

[2020-03-10 02:39] ktossell commented on #118
Is it possible that the camera doesn't support the full-auto AE mode? I get the same error when testing with my laptop's builtin camera...

I added this to the uvc_set_ae_mode docs back in 2014:

so I probably thought at the time that the other two modes (shutter priority, and fully automatic) were not commonly supported. @dmikushin Does AE work with your builtin camera if you use `UVC_AUTO_EXPOSU

[2020-03-11 02:01] dmikushin commented on #118
**EXCELLENT.** 8 sets Linux camera brightness to the expected usual automatic behavior. Many thanks for your kind help!

[2020-03-11 02:13] dmikushin commented on #118
Now, interestingly when I test (8) on Mac, it now gets "Pipe error" there. So, in order to make both Linux and MacOS happy I ended up with the following:

[code]

[2020-03-11 02:18] dmikushin commented on #136
I'd recommend to bundle libusb and jpeglib as CMake submodules - that would be the smartest and the most portable way.

Be careful with `<chrono>` clocks, their precision (resolution) appears to be lower than expected, many people already stumbled upon this.

[2020-03-11 14:43] avsdev-cw commented on #136
After some further digging I did spot a pr #68 which addresses a number of the issues, however it does drop jpeg support and I ended up pulling the pupil-labs/libuvc master and cherry picking some changes from both to get a working build. It wasn't pretty!

Given the age and state of the PR, perhaps it would be worth starting a new one that can be merged in faster?

[2020-03-12 09:12] joelpurra opened #140 "bcdUVC never set in uvc_device_descriptor"
After calling `uvc_get_device_descriptor` I seem to receive a `0` value for the `bcdUVC` compliance level, using a Logitech HD Pro Webcam C920 on Ubuntu 19.10. According to `lsusb`, both locally and in `logitech_hd_pro_920.txt` in this repository, it should be `0x0100` (representing `1.0`). Using `libuvc` v0.0.6, installed using `apt`, but can't see it fixed on `master` either.

- https://github.c

[2020-04-23 12:37] Parrotlife commented on #72
Hello everyone, I am facing the same issue for running 2 cameras at the same time as they have the same product ID. If someone found a turnaround for this problem that would be great :)
Also @jwlodek how can you setup the 2 cameras on different USB interfaces?
I am running this with ubuntu 18.04 on an nvidia jetson tx2.
Thank you all for your answers ;)

[2020-04-23 16:19] jwlodek commented on #72
@Parrotlife For the product ID issue the different interfaces won't fix the problem, you can try using serial number to connect instead, that would help. The interface solution fixes an issue where sometimes cameras even with different product IDs would block themselves when running off the same USB bus controller on the motherboard, though I can't reliably reproduce this behavior

[2020-04-23 16:32] Parrotlife commented on #72
@jwlodek Thank you for your answer. My cameras don't have any serial number. can I somehow force one on them? Thanks again for your help.

[2020-04-23 16:39] jwlodek commented on #72
@Parrotlife Not that I know of unfortunately

[2020-04-24 08:38] Parrotlife commented on #72
I managed to find my serial numbers using "sudo lsusb -v" (doesn't work without sudo) and then I pass this serial number to find_uvc_device. This allowed me to open both cameras. Thanks @jwlodek for your help.

[2020-04-27 22:26] Adityav2410 opened #141 "Feedback when device is disconnected/unplugged."
Device is connected, streaming starts via callbacks.

Now if device is disconnected, callbacks stops coming in. Is there any way to register a callback when device is disconnected.

I registered a callback with
```:uvc_set_status_callback (uvc_device_handle_t *devh, uvc_status_callback_t cb, void *user_ptr)```
but I am not receiving a callback on device USB unplug.

[2020-04-27 22:56] Adityav2410 commented on #141
Bit debugging shows that on device USB unplug, code reaches:
https://github.com/libuvc/libuvc/blob/master/src/device.c#L1808
and returns from here because of `return`,

while user-provided callback is called later, at
https://github.com/libuvc/libuvc/blob/master/src/device.c#L1812

which is not called at all.  Is this an expected behavior?

[2020-05-08 09:36] sayezz commented on #100
Wanna just thank you. Your info helped me to get it working under Win10, Visual Studio 2017

[2020-05-08 14:16] waddlesplash commented on #100
Yes, I asked at https://github.com/pupil-labs/libuvc/issues/34 if they could upstream their changes, but there has been no reply, so it may need to be done manually.

[2020-05-08 14:16] #100 closed

[2020-05-24 13:11] dmikushin opened #142 "uvc_get_gain error Pipe (-9) on Macbook Pro 15 buitin camera"
Hi, I'm trying to leverage software-based auto exposure control for ROI. In order to deploy an algorithm, camera gain read/write is required.

The problem is Macbook Pro 15 '2012 builin camera fails `uvc_get_gain` with `UVC_GET_CUR` and `UVC_GET_MAX` and `uvc_set_gain`. The same error status is reported in all cases: `Pipe (-9)` error. Meanwhile, exposure get/set works well.

Does anyone have the

[2020-05-24 23:08] dmikushin commented on #142
The underlying libusb transfer returns `LIBUSB_TRANSFER_STALL` meaning "For control endpoints: control request not supported". So looks like gain control is simply not implemented on this camera.

[2020-05-26 18:15] dmikushin commented on #114
The purpose of variable frame rate alone is unclear. Nonetheless, the easiest variation could be achieved by means of frame skipping with different multipliers. Yes, exposure starts to affect the frame rate, if set large enough. But you won't be happy with such a way of variable fps, as your images would gather too much light (overexposure).

[2020-05-26 18:20] dmikushin commented on #114
In fact, fps rate of camera could be set to almost arbitrary value by varying camera clock frequency. Raspberry Pi community has nice examples of camera drivers made to achieve unrealistically high FPS (obviously, with strong artefacts). But frequency is a driver-level setting and clearly is beyond the scope of libuvc.

[2020-05-27 01:46] attackordie commented on #113
Has there been any progress on this issue?

[2020-06-19 06:48] bookshiyi commented on #72
one "common hub" : one camera work same time.
one "root hub " : multi camera work same time.

this is my test result

[2020-06-23 12:38] hr0109 commented on #42
ricoh theta v
Logitech 930e

[2020-06-23 12:40] hr0109 commented on #42
More and more webcam are using uvc 1.5 with payload h.264

[2020-07-03 23:33] nospam2k commented on #136
962557346 - Can you please outline how you compiled on Windows. I'm really stuck. I have no problem doing this on Mac/Linux but I'm lost on Windows.

[2020-07-04 11:55] 962557346 commented on #136
@nospam2k Hello, I understand your feelings. Firstly, I will outline all the steps.
1) I downloaded the modified version ([libuvc-pupil-master](https://github.com/pupil-labs/libuvc)).
2) I downloaded the [libusb](https://sourceforge.net/projects/libusb/) and [pthreadVC2](https://www.mirrorservice.org/sites/sourceware.org/pub/pthreads-win32/).  Both two packages have been complied. Remember  the pt

[2020-07-05 06:45] nospam2k commented on #136
@962557346 Thanks for your reply. I found libuvc-pupil-master and followed the INSTALL_WINDOWS.md completely. I didn't install LIBJPEG. I think you might want to look into that if you haven't already. I was able to compile both libusb and libuvc with no code changes using the CMAKE gui (IIRC).  I'm going to be working on coding through Java just for PTZ stuff so I won't be trying to capture images

[2020-07-19 19:03] #42 closed

[2020-07-21 01:21] xiejiezhang opened #145 "User Callback very slowly @ 10fps when image @1920x1080 30fps MJPEG. Why?"
User Callback very slowly @ 10fps when image @1920x1080 30fps mjpeg Why?  on the callback function, i  do nothing but printf the time when called.  No convert frame format, No show image; unreasonable!!!

[2020-07-21 16:56] waddlesplash commented on #145
Please be more specific and explain the problem in more detail.

[2020-07-28 06:28] valerii-tech opened #146 "App always hangs when uvc_stop_streaming is called, help..."
I have checked #53,  #16 or #50 issues, its solution is already integrated on android 7.1.1 Platform.
when App switches 2 uvc cameras  about 20 times，it always hangs finally.

when it runs pthread_cond_wait(&strmh->cb_cond, &strmh->cb_mutex);
it seems to wait the signal.
I don't know how to fix it.  many thanks.

Log：
[code]

[2020-07-28 07:19] toBeGeekNo1 opened #147 "Get device capabilities from the second parameter of the function uvc_open() is invalid"
Hi,I want to know which video stream formats my device supports，I try to get it from struct uvc_format_desc, use  for loop to traverse all the next item, and I get a list of video size parameter, such as 640x480,1280x960,1920x1080 ,but when I use them into function uvc_get_stream_ctrl_format_size()，only 640x480 work, high size no work.I don‘t know how to get the work size,thanks

[2020-07-28 08:09] Larryyuan2015 commented on #146
struct libusb_transfer *transfers[LIBUVC_NUM_TRANSFER_BUFS];

LIBUVC_NUM_TRANSFER_BUFS is 10， transfer[4] and transfer[5] are freed, but one transfer[0] is still not deleted.

12-12 08:12:39.564  3070  4440 I libuvc/stream: [4440*stream.c:977:_uvc_stream_callback]: _uvc_stream_callback...transfer->status=1
12-12 08:12:39.564  3070  4440 I libuvc/stream: [4440*stream.c:1022:_uvc_stream_callback]: 1

[2020-07-28 08:44] Larryyuan2015 commented on #146
when pthread_cond_wait runs and wait the last transfer[0] to be deleted,
I don't know why the  _uvc_stream_callback function is not called.

[2020-07-28 14:22] jwlodek commented on #147
You may need to adjust the framerate and format type to ones supported at that resolution, I've found that at each supported size only certain framerates will work. I use this program to find supported formats: https://github.com/areaDetector/ADUVC/tree/master/adUVCSupport/cameraDetector

[2020-07-31 06:51] Larryyuan2015 commented on #146
when the app happens to hang，soon it will hang again at the first switch between 2 uvc cameras,  even if the app reinstalled again.
only when restart the android system , the app needs switch 2 uvc cameras about 20 time to hang.
how to analyze the issue?

[2020-08-06 13:24] suasllc commented on #72
This works for me. Thanks a lot for your help!
I think the reason is that when you have 2 or more cameras of the same brand, their vid and pid are the same. So you will need the third parameter being the serial #, which differ from camera to camera, to specify a specific one. Without this, find_uvc_device will only (probably) stop at the first found camera, which in the case of multi-cam situation

[2020-08-10 11:21] iosfitness opened #148 "Support for iOS"
Can anyone please redirect me to links for implementing this on iOS. I plan to connect Logitech webcam c930e

[2020-08-11 02:28] xiejiezhang commented on #145
becuase the maxplayloader size is too larger. make sure <= 150K

[2020-08-11 02:28] #145 closed

[2020-08-13 06:29] chrisspiegl commented on #148
I was looking for the same. Ability to compile this for iOS and use it to create a UVC compatible live streaming application.

[2020-08-13 06:32] iosfitness commented on #148
@chrisspiegl Did u manage to find any workaround for this?

[2020-08-15 09:27] chrisspiegl commented on #148
@iosfitness I did not, I am hoping to see whether or not this is compatible at first.

[2020-08-17 17:44] jwlodek opened #149 "Problem with static linking"
I would like to statically link libuvc into an executable, however, whenever I try I get undefined reference errors w.r.t. libusb. I am using a basic example similar to the one given here, that just lists attached cameras + serial numbers. Here is the contents of my folder:

[code]

Here is the makefile:

[code]

Then, when I run `make`, I get many similar errors along the lines of:

[code]

Obvio

[2020-08-17 17:49] openastroproject commented on #149
Try reversing the order of the libraries, so they're "-luvc -lusb"?

[2020-08-17 17:53] jwlodek commented on #149
I tried that and got the same set of errors. I also tried removing `libusb.a` to try and have the compiler use the system version, and that didn't work as well. Removing `-lusb` altogether also just shows the same errors.

[2020-08-17 18:02] jwlodek commented on #149
I got it. Seems that there are two different `libusb`'s  out there, and using `grep` on the CMake logs, I found that `libuvc` is linking against `libusb-1.0.so`, not `libusb.so`. Once I linked against this the build completed OK. Perhaps this should be noted somewhere in the documentation, or in the CMake output to list which version is linked?

[2020-08-18 09:02] PeterPeterPan opened #150 "CMake Error, target "LibUSB::LibUSB" was not found."
Hi all,
In my windows 10 laptop, I install "libusb 1.0.23" and "cmake  3.17.2" by conda (Anaconda)
then follow the step:
git clone https://github.com/libuvc/libuvc
cd libuvc
mkdir build
cd build
cmake ..

when I input: cmake ..
I got the error message

How can I solve this problem?
thank for your help.

[2020-08-22 07:44] butterfly0Dream opened #151 "How do I get audio data when the camera has a microphone?"

[2020-08-22 12:11] ccdcn opened #152 "deadlock in handle_iso_completion after uvc_stream_stop"
Hi,
I am running libuvc on my android device.
Sometimes I have a dead lock in
usbi_mutex_lock(&itransfer->lock);
in entering handle_iso_completion, after calling uvc_stream_stop.
I add some debug msg in uvc_stream_stop.
This happens when uvc cam is plug out.
After that my app catch the camera out kernel uevent and call stream_stop,
and in "uvc_stream_stop", libusb_cancel_transfer returns LIBUSB_ER

[2020-08-25 06:50] #150 closed

[2020-08-25 23:25] stang2019 opened #153 "uvc_start_streaming not work as expected"
I hooked two webcams (macOS 10.15.6), either will work if I start with the first chosen, if I do like this, select first camera, start streaming, the callback will receive the video frames and it works normally, then I stop streaming using uvc_stop_streaming, open the second webcam to get its handle (successful), call uvc_get_stream_ctrl_format_size to set the resolution and FPS (successful), then

[2020-08-27 07:40] WallyChiu commented on #150
Hi PeterPeterPan,

I have the same issue. Would you tell me how did you solve the problem? Thnaks.

[2020-08-29 09:49] JoelStienlet commented on #153
I had a similar problem, I solved it by adjusting the buffer size in the kernel:
`echo 1000 > /sys/module/usbcore/parameters/usbfs_memory_mb`
Hope this helps.

[2020-08-29 16:53] stang2019 commented on #153
Thanks, I’ll try it out.

-Steven

Sent from my iPhone

On Aug 29, 2020, at 3:49 AM, JoelStienlet <notifications@github.com> wrote:

﻿

I had a similar problem, I solved it by adjusting the buffer size in the kernel:
echo 1000 > /sys/module/usbcore/parameters/usbfs_memory_mb
Hope this helps.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<

[2020-08-31 06:22] PeterPeterPan commented on #150
Hi Wally,
I didn't solve this problem, so I trying to use visual studio 2019 with libuvc, too.
follow this way( you can reference from issue#100 ):
https://github.com/pupil-labs/libuvc
https://github.com/pupil-labs/libuvc/blob/master/INSTALL_WINDOWS.md

I can compile the sample code now, but still some problem happen.
The sample can detect my device by "uvc_find_device", but "uvc_open" return erro

[2020-08-31 09:24] PeterPeterPan commented on #150
update:
I used Zadig to change the driver of my device from WinUSB to libusbK.
Now error become Access denied (-3)

[2020-09-01 07:24] PeterPeterPan commented on #150
update:
Using Zadig to change the driver of my device from Vendor-driver to libusb-win32(v1.2.6.0).

Now, uvc_start_streaming still not work, but I can use "uvc_set_ctrl" to control Units.

[2020-09-04 08:46] PeterPeterPan commented on #150
update:
If your device only with video, it's working now, but not perfect.

fork:

note:

Device_1: BisonCam,NB Pro, only video.
Device_2: AVerVision M15W, with video&audio.

Using the test.c to work in UVC_FRAME_FORMAT_YUYV, only Device_1 show image, Device_2 freeze & do noting.
But broken as the step "uvc_stop_streaming" both two, keep trying...

[2020-09-06 02:26] PeterPeterPan opened #154 "How to get the video stream from Composite Device (with video&audio) in Windows?"
I had tried 2 device to get the video stream by "uvc_start_streaming( )".
For using libuvc, I changed the driver to libusbK.

Device_1: BisonCam,NB Pro, only video.
Device_2: AVerVision M15W, with video&audio.

Using test.c, Device_1 show the video great, but Device_2 didn't even run function cb( ).
So it's mean that the device with video&audio driven by libusbK can't use uvc_start_streaming to ge

[2020-09-07 02:01] PeterPeterPan commented on #154
I didn't do anything but it work now...
why...

[2020-09-07 02:01] #154 closed

[2020-09-08 07:51] miniLV opened #155 "Unplug device crash at `uvc_unref_device`"
result = uvc_find_custom_device(_ctx, &_device, _vendorId, _productId, _locationId);

    if (result != 0) {
            uvc_unref_device(_device);
        }
        uvc_exit(_ctx);
        return NO;
    }

    // unplug device
    result = uvc_open(_device, &_devicehandle);
    if (result != 0) {
        if (_device) {
            uvc_unref_device(_device);
        }
        uvc_exit(_ctx);

[2020-09-18 08:35] RedHoodedWraith opened #156 ""JpegPKG" library with cmake files not found on MacOS"
Hi,

I am attempting to import the _LibUVC_ Library in a CMakeLists.txt for a C++ project. I am running MacOS 10.15.6

The full error message is outlined below. In a nutshell, the error I am getting is that CMake is having trouble finding the following files from the `JpegPKG` library:
- JpegPkgConfig.cmake
- jpegpkg-config.cmake

I have installed `ibjpeg` by using `brew install libjpeg` however t

[2020-09-18 08:43] RedHoodedWraith commented on #156
When rebuilding the LibUVC Library using `cmake build ..` when inside the build directory within the directory with the library's source code, I did notice this error message:
[code]

[2020-09-29 20:12] jwlodek opened #158 "PTZ control issues"
I've been trying to get PTZ control working with a camera using libuvc and I'm running into some issues. First, the MAX, and MIN get operations for pan/tilt don't seem to give accurate numbers, and no matter what input I give as pan or tilt to the `abs` version of the function I get a UVC_PIPE error. When I use the relative version, I can only pass 1 or -1 as a value, which just sets the camera di

[2020-09-29 21:15] jwlodek commented on #158
I figured out how to work with the relative pan/tilt. Simply call the set function again and pass 0 as the value. It would be nice if there was a function that could internally on a relative scale map from max pan to min pan etc. I still can't seem to get the absolute pan/tilt to do anything.

[2020-09-30 02:03] PeterPeterPan commented on #12
Anyone use the usbdk driver on Windows?
I use this fork: https://github.com/pupil-labs/libuvc
step1: operate UsbDk_1.0.22_x64.msi
step2: modify the func uvc_init() in init.c (Reference from the libusb wiki)
[code]
step3: run my code

I got the log:

any idea? thanks!

[2020-09-30 08:52] PeterPeterPan commented on #91
@openastroproject  thank you so so so so so much.

[2020-10-05 02:35] PeterPeterPan commented on #146
Which version of libuvc are you using?
I think https://github.com/libuvc/libuvc/issues/91 may helpful for you.

[2020-10-10 08:21] iosfitness commented on #148
@chrisspiegl Did u manage to look into this? Also, it would be great if you could please suggest any alternatives for now.

[2020-10-10 09:49] chrisspiegl commented on #148
@iosfitness I had to stop looking into it since it was too big of a project/idea. I have not found any solution that I liked thus far.

[2020-10-12 09:21] iosfitness commented on #148
@chrisspiegl Could you please share the solutions/links you explored so far ?.
I will go through them and check If I can build anything  using them

[2020-10-12 09:25] chrisspiegl commented on #148
@iosfitness The only solution I found in my research is this: https://www.youtube.com/watch?v=lenGIGSnB0M
But that is a extra device that I was not prepared to purchase. My idea was that it would be great to be able to use a CamLink or similar HDMI capture card with the iPad for Live Streaming, however, even the device shown in the video does not provide that with good app compatibility.
So I had

[2020-10-12 14:04] KrCool commented on #12
Excuse me, I see you are talking about uvc and libusb.

I need to use libusb in Windows to send data to the uvc camera (at the same time I need to use opencv to play the camera screen), I am now facing a problem:
1. If the driver is the uvc driver that comes with windows, then I cannot use the libusb library based on C language to open the USB device correctly
2. If I use libwin32, libusb, or libu

[2020-10-12 14:17] ftaiolivista commented on #12
Hi. In an old project I managed to use libusbk + libuvc + opencv on windows in a C++. I'm able to liveview webcam and send USB commands to the same device.
But you cannot use directly the webcam with Opencv VideoCapture API, you have to use LIBUVC as middle layer to caputer images and then you can use opencv to elaborate them.

[2020-10-12 14:25] KrCool commented on #12
Hi, thank you for your prompt, I have seen the relevant information of libuvc, but have not decided to use this method. I think I should try this method

[2020-10-12 14:29] KrCool commented on #12
Oh，In addition, there is a situation where I can use a simple uvcplayer to play the screen and use the data sending function of Bus Hound at the same time. They work well together.

[2020-10-14 06:54] iosfitness commented on #148
@chrisspiegl
Thanks for sharing the knowledge

Few inputs from my end :
I did some exploring initially and landed up trying out https://developer.apple.com/documentation/externalaccessory. However, I think we will need to have information on the UISupportedExternalAccessoryProtocols to make this functional.
For this, I also purchased https://www.apple.com/in/shop/product/MK0W2ZM/A/lightning-to-usb

[2020-10-14 10:26] chrisspiegl commented on #148
Thanks for sharing your information. I tried the external webcam with an iPad Pro which has USB-C so I didn't need the adapter you also purchased. However with no luck on all fronts. Hopefully Apple would just start supporting UVC capture devices at some point. All their MacBooks support them… why not the iOS versions? I don't know… but I still have hope.

[2020-10-16 19:49] jwlodek opened #159 "Compilation fails on older linux distributions"
Compilation of latest libuvc fails on older linux distributions (Debian 7) with the following error:
[code]

It seems this issue was introduced with commit 86ad9640392aaee873ab76e61d2f4f121136ca1a. Rolling back to once commit prior it compiles OK.

Since older distributions are no longer actively supported this is likely not a problem - we still run older versions on non-networked devices, but we

[2020-10-16 20:36] openastroproject commented on #159
Perhaps this section of code at around line 1142 in stream.c:

[code]

could be wrapped in
[code]

I think that would leave the old functionality in place whilst removing the superspeed code that doesn't exist in earlier releases of libusb?

[2020-10-17 00:22] jwlodek commented on #159
I think that would be a good solution. I'll try it at work next week and if it works I'll make a pull request.

[2020-11-28 07:30] rsnGON commented on #153
I had a similar problem,  i use Product: PureThermal (fw:v1.3.0) on Ubuntu 16

` Linux version 4.15.0-123-generic (buildd@lcy01-amd64-027) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)) #126~16.04.1-Ubuntu SMP Wed Oct 21 13:48:05 UTC 2020`

dmesg out is :
`[271680.726994] usb 1-1.5: USB disconnect, device number 38
[271682.918791] usb 1-1.5: new full-speed USB device number 39 using

[2020-12-11 08:23] PeterPeterPan opened #164 "How to get all Extension Unit ID"
If the device with more than one extension unit
(ex: XU1=0x03, XU2=0x04, XU3=0x05...),

I can only get one XU_ID by using "uvc_get_extension_units( )";
How can I get IDs?

thank for your help.

[2020-12-14 07:50] PeterPeterPan commented on #164
`/*********************
 *
 *  para1: uvc_get_extension_units(devh)
 *
 *********************/
const uvc_extension_unit_t* extension_unit_IDs_get(const uvc_extension_unit* XU_n, uint8_t* XU_ID_buff, uint8_t *pXU_NUM) {
    static uint8_t XU_NUM = 0;
    if (XU_n == NULL) {
        *pXU_NUM = XU_NUM;
        char d[10];
        XU_NUM = 0;
        return 0;
    }
    else {
        XU_ID_buff[XU_NU

[2020-12-14 07:50] #164 closed

[2020-12-16 11:07] palydawn commented on #12
Hi, I encountered the same problem as you, did you find way to send command to uvc camera without changing uvc driver?

[2020-12-16 11:22] ftaiolivista commented on #12
no, sorry

[2020-12-16 12:50] KrCool commented on #12
I haven't found a way to send commands directly, but you can use the method defined in DirectShow, Dshow.h to control the camera(it's send the relevant command automatically,but you can't define your own), and it won't affect your ability to use other processes to play pictures

[2021-01-20 09:32] hunterkiller11 opened #165 "list_internal is not freed in uvc_find_devices"
If the function uvc_find_devices() does not find any device then list_internal is not returned and there is no way to free it externally.
Furthermore I expect a comment reminding to use uvc_free_device_list as there is in other functions

[2021-01-20 18:54] Yasha-ops opened #166 "error: field ‘capture_time_finished’ has incomplete type struct timespec capture_time_finished;"
Incomplete type when including the libary ex:

#include <stdio.h>
#include "libuvc/libuvc.h"

int main()
{
    printf("Hello");
}

[2021-01-21 05:45] mrspirytus opened #167 "uvc_exit() hangs for ever on internal thread join."
Hello,

I am not sure if the problem is libuvc or libusb. I will start here and if this needs to be moved or linked to libusb I will do so. Please let me know If I should create libusb ticket.

I have a daemon process that monitors cameras and publishes captured frames. Occasionally I can send `kill -INT $PID` to reload configurations. When SIGINT is delivered and the application quits and restart

[2021-01-21 20:15] mrspirytus commented on #167
Here is a list of API I am using and the order they are called.

[code]

[2021-01-26 17:12] rjgebis commented on #167
Now I noticed that sometimes it hangs on` uvc_stop_streaming(_devHandle);`
I did setup 18.04 Ubuntu and it hangs most of the times on stop streaming. I see that others had such issue with uvc_stop_streaming() and condition variable. Was this ever properly addressed?

[2021-02-01 07:11] jeanlouis-villecroze opened #168 "uvc_find_device: No such device (-4)"
I have compiled libuvc (after installing libusb via brew) on macOS 11.1, and the example fails to find the builtin iSight camera (Product ID: 0x8514, Vendor ID: 0x05ac):

uvc_find_device: No such device (-4)

Similarly, uvc_get_device() does not find any device.

I have previously used libuvc successfully on older macOS (several years old). Is the library not supported on the release of macOS?

[2021-02-01 07:34] jeanlouis-villecroze commented on #168
So, this is probably and issue with libusb as libusb_get_device_list() returns 0. [This](https://github.com/libusb/libusb/issues/463#issuecomment-420134260) seems indicates that USB Entitlement is needed on that macOS version.

[2021-02-07 07:41] #167 closed

[2021-02-07 07:46] mrspirytus opened #169 "How to connect to multiple cameras of same type? uvc_find_device()"
I have two MS cameras connected to the system

[code]
Both have iSerial 0
[code]
**uvc_find_device()** does take serial but both cameras iSerial are 0

I am experimenting with stereo vision, and that is why I need to connect to both cameras.

[2021-02-07 08:48] xisiyong opened #170 "Does libuvc support capturing stream from composite uvc device."
![Composite Device](https://user-images.githubusercontent.com/1822552/107141515-1aab1d80-6964-11eb-9f8b-d55fe44f5c55.png)
Currently I can only capture stream from the first camera, I can not capture stream from the second camera.

[2021-02-07 15:05] jwlodek commented on #169
In my experience the only way to get around this is to run them in a singular sandbox such as in individual docker containers, and only mount one of them in each container.

[2021-02-17 15:47] traud commented on #42
@hr0109 and @Croydon out of curiosity, does the attached change help with your mentioned Logitech cameras? I am using the Logitech C922 which is known to [hide its H.264 stream …](https://raspberrypi.stackexchange.com/a/91885) After building and installing the latest trunk, my camera still does not show any H.264 stream. Forcing it to `UVC_FRAME_FORMAT_H264` fails as well. I guess, this is just fo

[2021-02-18 02:52] rjgebis commented on #72
@suasllc I have same issue with two MS cameras
[code]
But when I do `lsusb -v ` I see both cameras have iSerial 0
[code]

@waddlesplash
I am not familiar with libusb. Is there any way to make this work? I could try to implement and do PR

[2021-02-18 02:52] Croydon commented on #42
I can't test this currently

[2021-02-18 09:07] bookshiyi commented on #72
After our test, we found that the reason why multiple cameras can't be opened at the same time is caused by insufficient usb bandwidth. My conclusion is that you can try to choose two usb camera that supports lower bitrate and try after configuring it to the lowest bitrate.

[2021-02-20 09:17] Pazu commented on #42
I could try to test it with my c930e. Is trunk necessary or is the patch in 0.0.6?

[2021-02-20 18:48] traud commented on #42
You need trunk.

[2021-02-20 22:55] AndreOKovacs opened #171 "How do I use ctrl-gen.py to generate control functions?"
Hello,

I would like to know how I could use ctrl-gen.py to generate a custom ctrl-gen.c for my camera.
What's the structure necessary for the input definition file?

Regards,
Andre

[2021-02-21 00:25] openastroproject commented on #171
I'd guess that standard-units.yaml might be the original input file?

[2021-02-21 01:18] andreok commented on #171
Thank you very much for pointing me to the standard-units.yaml file @openastroproject.

I was checking again the standard-units.yaml and ctrl-gen.c and I noticed that none of them have the specific camera registry  values.
So, looks like I need to override the uvc_ct_ctrl_selector and uvc_pu_ctrl_selector enums with my specific control registry values?
But non-standard/extension control properties

[2021-02-24 04:46] rjgebis commented on #72
@bookshiyi Do you have a working sample of how to select two identical cameras with no iSerial so I can try it?

[2021-03-01 17:00] Michal-Kochman opened #172 "No stream from uvc capable camera"
I have two cameras. (Both claim to be uvc-capable). From one of them I can get the stream no major problem, the second one seems to have none.

When I run 'uvc_get_stream_ctrl_format_size()' with some debug print added, I can see that the problematic one never enters the loop "DL_FOREACH(format->frame_descs, frame)" in the above mentioned function - has no  available frame specifications, while th

[2021-03-11 04:20] mrspirytus opened #173 "Microsoft® LifeCam Studio issues with libuvc"
I use this camera with Slack making calls. Somes, it works but then I stop working I have to reboot the system. The unplugging camera does not help. I did try switching from USB 3 to order USBbut it does not help
I am reporting this since the below message states to report it :)
Any know fixes? I am on Ubuntu Mate 20.04

Cheers

[code]

[2021-03-12 13:41] f2013619 opened #174 "Cmake error: CMake Error at cmake/FindOpenCVPkg"
Hi, I am trying to compile libuvc in windows 10 with opencv version 4.5.1
When I run the cmake command I get the below errors:

CMake Warning at CMakeLists.txt:51 (message):
  JPEG not found.  libuvc will not support JPEG decoding.

-- Components requested: opencv_core;opencv_highgui
CMake Error at cmake/FindOpenCVPkg.cmake:69 (message):
  Following required components not found: opencv_core;openc

[2021-04-14 08:37] Eddielee30 commented on #64
Hi, would you try to change the LIBUVC_NUM_TRANSFER_BUFS to smaller to check will it still happen

[2021-05-07 06:09] mcuee commented on #136
https://github.com/pupil-labs/libuvc
You will have better lucks with the fork for Windows.

[2021-05-12 17:54] THYAGARAJAN786 commented on #12
i know its late,had the same issue UVC_ERROR_NOT_SUPPORTED, the fix was using zadig to replace both the composite and normal driver for the camera, under zadig list all devices -> ensure the option "Ignore hubs or composite parents" is unticked, a warning message would come, choose yes and replace the composite driver, Mine worked on libuvc(master), libusb(master) and windows10 64-bit release buil

[2021-05-25 19:17] ghost opened #180 "Build test failed"
When I build with the test program with opencv 4.1, I got the following error

[ 87%] Building C object CMakeFiles/uvc_test.dir/src/test.c.o
In file included from /usr/include/opencv4/opencv2/core/types_c.h:82:0,
                 from /usr/include/opencv4/opencv2/core/core_c.h:48,
                 from /usr/include/opencv4/opencv2/highgui/highgui_c.h:45,
                 from /home/nvidia/apps/lib

[2021-05-26 00:06] goldie-lin commented on #180
Try to add:
[code]
after:
[code]
in `CMakeLists.txt` file.

[2021-05-26 00:34] deeprun commented on #180
@goldie-lin Thank you very much.

After I made the changes, I got the following error:

CMake Error at CMakeLists.txt:151 (target_compile_options):
  Error evaluating generator expression:

    $<COMPILE_LANGUAGE:C,CXX>

  $<COMPILE_LANGUAGE> expression requires one or zero parameters.

How can I fix it?

[2021-05-26 01:26] goldie-lin commented on #180
What's your `cmake --version`?

[2021-05-26 01:35] deeprun commented on #180
3.10.2

[2021-05-26 05:35] goldie-lin commented on #180
It seems that that expression is too new fashion and unnecessary complex and not portable, then try this updated one:
[code]

[2021-06-08 21:08] mrspirytus opened #181 "Issue between commit 5cddef71 and 92621946 (PureThermal 2)"
Looks like something happened between these commits. Let me describe my setup and how I tested.

I have c++ application I am developing on Nvidia Nano L4T
`Linux cc4 4.9.201-tegra #1 SMP PREEMPT Wed May 5 09:31:36 PDT 2021 aarch64 aarch64 aarch64 GNU/Linux`
I have installed `libusb` that comes with L4T
[code]

I am trying to capture frames from  [PureThermal 2](https://groupgets.com/manufacturers/

[2021-06-08 21:21] mrspirytus opened #182 "Invalid initial frame or two on start streaming (PureThermal 2)"
I noticed that my application at times after calling `uvc_start_streaming(_devHandle, &_ctrl, frame_callback, this, 0);` I get one of two frames that are invalid. This does not happen all the time. But when it happens it only happens for one or two consecutive first frames. This happens with the latest commit and I sampled a few all the way to last summer 2020. Not sure if this is an issue with [P

[2021-06-25 10:05] jinlongxu2018 commented on #66
GOOD，我终于得到了H264视频，并且解决了前面几秒H264解码后，花屏/绿屏问题。

[2021-06-25 10:06] jinlongxu2018 commented on #66
并且增加了UAC音频部分的获取,以及设置不同的音频采样率等,GOOD!

[2021-07-01 03:43] xiaoChannel commented on #174
me too

[2021-07-02 07:26] chenjinlei commented on #180
@goldie-lin It helps, thank you.

[2021-07-02 07:29] chenjinlei commented on #174
try to add location of pre-compiled library in you cmake command line, something like: -DJPEG_LIBRARY=$INSTALL_DIR/lib/libjpeg.so -DJPEG_INCLUDE_DIR=$INSTALL_DIR/include

[2021-07-05 18:32] #66 closed

[2021-07-11 09:30] JoelStienlet opened #183 "Segmentation fault"
Hello all,
First thank you for this library.
I'd like to report a segmentation fault happening with usb microscopes 1871:7670.
I think these microscopes send corrupted frames sometimes...
(note that I switched to libuvc because these microscopes crashed the linux kernel ! It's probably the same kind of error.)
I found that the segmentation fault occurs in frame.c in uvc_uyvy2bgr(), and more precis

[2021-07-11 13:20] goldie-lin commented on #183
Do you mean the `data_bytes` of  received `uvc_frame_t` was sometimes larger then actual size in corrupted frame?

[2021-07-11 14:33] JoelStienlet commented on #183
Yes this is exactly what I think is happening. There are 3 parameters: in->width, in->height and in->data_bytes. Normally in->data_bytes should match (width X height), but the corrupted frame has a smaller buffer than what would be required for an image of the given size. So when I add this test on the real input buffer size, then the segfault disappears.

[2021-07-11 15:12] goldie-lin commented on #183
It's better to put your error detection and workaround code of frame info correction in [`_uvc_populate_frame()`](https://github.com/libuvc/libuvc/blob/master/src/stream.c#L1320-L1377) of `stream.c`. It's called before each user frame callback functions. Fixes frame size there to prevent your frame callback function get the incorrect size.

You could search a keyword `is_isight`, and add a flag in

[2021-07-11 16:23] JoelStienlet commented on #183
Thank you very much for your indications, I'll work on a proper fix for this camera.
Can I submit a PR once finished so that it gets fixed upstream, or do you prefer to keep these workarounds outside of the library?

[2021-07-11 16:35] goldie-lin commented on #183
Ha, I'm not the maintainer or collaborator of libuvc, I have no idea on this, you could go ahead.
I just done similar work before but for some reason I kept the patch in private repository.

[2021-07-19 11:01] JoelStienlet commented on #182
Hello,
I think that the segfault I've seen may be related to your bug, can you please try my PR to see if it solves your problem as well?
[PR for issue 183](https://github.com/libuvc/libuvc/pull/184)

[2021-07-19 12:12] mrspirytus commented on #182
I will in about 2 weeks. I report my findings

[2021-07-20 09:39] CarlosCoSonicat opened #185 "Compiling on windows, Libusb error."
Hi, I'm trying to compile libuvc for windows 10, I have downloaded the Libusb dll and includes and have them in system variable.

The problem is that when compiling cmake throws an error in add_library  "Target " uvc" links to target "LibUsb::LIBUSB" but the target was not found..... "

I'm using mingw 32 if that helps.

[2021-07-22 01:43] damiya14 opened #186 "How to use this on Android Kotlin"
Hi i am trying to use this for my android application. Could you please let me know how i can compile it so that i can use it in my android app?

[2021-07-26 11:47] seaCheng opened #188 "libuvc didn't work on the macos12"
long time without any update,this great library don't even available run well on the latest macos 11.5,not even support macos 12,so who will solve the problem?

[2021-07-29 23:37] ccpearson commented on #72
I don't have cameras with identical serial numbers to test with right now, but it seems like you could do it with uvc_get_device_list(), which doesn't use serial number to find the camera. (Your code would then have to use some other way to identify the cameras, like array index or something.)

[code]
Great thread BTW, this will save us a lot of headaches in the field.

[2021-07-30 16:46] tonyngophd commented on #72
How about this:

https://github.com/tonyngophd/vuir-zoom/blob/master/src/uvcacquisition.cpp

We solved the issue with multiple FLIR boson camera:

https://youtu.be/d1FKRNGz8qg

Thanks

[2021-07-30 17:12] ccpearson commented on #72
Impressive! But I was referring to the issue of the libuvc hang that occurs in uvc_find_device() when there are cameras having duplicate serial numbers. Your code uses uvc_find_device() rather than uvc_get_device_list(). So I don't think we're talking about the same issue.

[2021-08-01 12:41] bookshiyi commented on #72
@ccpearson @rjgebis

As far as I know, most usb cameras are implemented based on the CSI protocol, and the CSI protocol also includes IIC. If the manufacturer does not deliberately distinguish the IIC address, then cameras of the same brand and model may not be so easy to distinguish.

BTW, you can fix the relationship between the USB interface and the camera to achieve your goal.

[2021-08-06 01:53] mcuee commented on #185
Try this patch: https://github.com/microsoft/vcpkg/blob/master/ports/libuvc/build_fix.patch

[2021-08-06 01:54] mcuee commented on #188
What is the problem? You need to provide the details.

[2021-08-06 01:55] mcuee commented on #188
As for macOS 12, that is under beta. There is an issue reported here under libusb project.
https://github.com/libusb/libusb/issues/972

[2021-08-06 01:57] mcuee commented on #170
Is this under Windows? In that case, use WinUSB to replace the USB Composite parent driver.

Or you can try this libusb pull request.
https://github.com/libusb/libusb/pull/965

[2021-08-06 01:59] mcuee commented on #12
Yes, this is most likely the known issue of libusb https://github.com/libusb/libusb/issues/85 .
Using WinUSB to replace the USB composite parent driver is the current recommended workaround.

Or you can try this libusb pull request.
https://github.com/libusb/libusb/pull/965

[2021-08-06 02:55] mcuee commented on #185
But it is easier to use the following fork. You can use the official libusb and not the fork mentioned in the readme.
https://github.com/pupil-labs/libuvc

[2021-08-06 02:57] mcuee commented on #12
vcpkg libuvc formula is supposed to work but somehow it does not work for me.
https://github.com/microsoft/vcpkg/tree/master/ports/libuvc

[2021-08-06 02:57] mcuee commented on #12
https://github.com/pupil-labs/libuvc is still easier to use for Windows users. You do not need to use the libusb fork there, rather you can use the official libusb.

[2021-08-06 13:30] mcuee commented on #188
Just tested it our under my Mac Mini M1 (macOS 11.5 Big Sur) using homebrew (built from source) and it seems to work fine.
[code]

[2021-08-06 13:36] mcuee commented on #156
Working fine here with Homebrew and macOS Big Sur (11.5) on my Mac Mini M1.

[code]

[2021-08-06 13:37] mcuee commented on #156
But if your cmake version is old, maybe you can try the tip here: https://github.com/libuvc/libuvc/issues/180

[2021-08-06 13:52] mcuee commented on #169
Probably you can enhance uvc_find_device() to take in two more parameters: bus number and port number.

Ref: https://libusb.sourceforge.io/api-1.0/group__libusb__dev.html

[2021-08-06 13:54] mcuee commented on #186
Android will not be easy. You need to get libusb working first before talking about libuvc.
Ref: https://github.com/libusb/libusb/pull/874

[2021-08-06 13:56] mcuee commented on #181
You should install libusb-1.0 developemnt package. But that is proabbly not your issue.

[2021-08-06 14:05] mcuee commented on #148
It is not possible to build libuvc under iOS as libusb is no supported under iOS. So you have to look elsewhere.

[2021-08-07 11:25] seaCheng commented on #188
thans for the reponse ,i am really sorry,that i didn't descrbe clear the detail for the issure last time, the really problem i come across is the that , i use the libuvc library to control a wencam in mac computer.but one of mine colleage's computer update to the macos12 which is beta version,that the libuvc can't work well ,the wrong code is "Access denied"

[2021-08-07 13:27] mcuee commented on #188
As for macOS 12, that is under beta. There is an issue reported here under libusb project. You may have to contact Apple for support.
https://github.com/libusb/libusb/issues/972

[2021-08-07 13:28] mcuee commented on #188
@seaCheng Please also edit your title, others may not understand Chinese. Your English is pretty okay and no need to use Chinese in the title.

[2021-08-08 11:15] mcuee commented on #188
As per https://github.com/libusb/libusb/issues/972 you can use latest git version of libusb and sudo to use libuvc.

The proper way is for the developer to get the right entitlement as per the following discussion: https://github.com/libusb/libusb/pull/911

[2021-08-08 11:18] mcuee commented on #188
I have closed https://github.com/libusb/libusb/issues/972 as this is not an issue with libusb. Either Apple changes its way or you have to get the right entitlement as a developer.

[2021-08-08 12:52] Timmmm opened #189 "Can't open Realsense 435 due to UVC 1.5 issue"
I have a Realsense 435 depth camera which supports UVC 1.5. I found an old issue here about UVC 1.5 support that has been closed and it seems like you guys think this library supports UVC 1.5? However if I try to open the Realsense camera it fails in [this code](https://github.com/libuvc/libuvc/blob/master/src/device.c#L1085)

[code]

because the value of `info->ctrl_if.bcdUVC` is `0x0150` (i.e. U

[2021-08-17 01:23] mcuee commented on #173
uvcvideo: Please report required quirks to the linux-uvc-devel mailing list. Not here.

[2021-08-17 15:02] mrspirytus commented on #173
Will do. Thank you

[2021-08-23 09:55] jschlatow commented on #189
@Timmmm, I recently had trouble using an UVC 1.5 device as well and created a pull request (#187) with the changes that made it work for me. Would you like to give my PR a try?

[2021-08-25 23:01] siarheisinelnikau opened #190 "Doesn't work for android"
I'm trying to use the library for android with LIBUSB_OPTION_WEAK_AUTHORITY flag, but seems it doesn't work and breaks something.

I got all the permissions in Java, opened device and passed descriptor to native.
Every callback is UVC_SUCCESS (I removed lines to simplify readability here) and I'm able to get supported resolutions and other things, except frames.

![image_1](https://user-images.git

[2021-08-26 16:43] #190 closed, assigned to nobody

[2021-08-27 13:55] jmachowinski opened #191 "Questions about endpoint selection"
Hi,
I'm using an Azure Kinect which itself is using libuvc in its SDK.

The Azure uses super speed isochronous transfer and is rather unstable in general.
While digging through the code I stumbled over the endpoint selection and have
some question about it.

https://github.com/libuvc/libuvc/blob/master/src/stream.c#L1152
Why isn't the endpoint address checked before as in line 1160 ? Is this a pos

[2021-09-03 01:35] deeprun commented on #113
Looks like current libUVC does not support his mode. I used opencv, and it worked. But libUVC does not work.

[2021-09-03 01:39] deeprun commented on #113
@waddlesplash can you please implement libUVC support for this camera?

[2021-09-03 03:06] waddlesplash commented on #113
Ultimately I am just one of the "maintainers" of libuvc, and I have done comparatively little development. I actually don't have permission to merge my own PRs, and so I've had one sitting around myself for some time (#144).

[2021-09-03 04:23] deeprun commented on #113
hi @waddlesplash If you know how to fix this, could you show the code here?

[2021-09-08 17:54] donn opened #192 ""Zombie" Handle If Example Exits Without Releasing Handle"
OS: `Linux [redacted] 5.4.143-1-MANJARO #1 SMP PREEMPT Thu Aug 26 23:41:07 UTC 2021 x86_64 GNU/Linux`

Libraries:
* libusb - 1.0.24-2
* libuvc - 0.0.6-1

---

I'm using a UVC device that works fine with the example file, but the problem is if there is any anomaly in the app quitting where it fails to release certain resources, the computer has to be restarted before it can hook up to the device ag

[2021-09-09 06:53] donn commented on #192
Adding the requisite permissions to open the relevant usb devices without sudo seems to alleviate this issue, plugging and replugging just works now. Still not sure why a root process would have a zombie handle somewhere but not running as root is a better idea anyway

[2021-09-11 22:23] dmikushin opened #193 "SIGFPE if endpoint_bytes_per_packet == 0"
There is potentially a SIGFPE crash, if endpoint_bytes_per_packet is 0 here:

[code]

I've seen SIGFPE triggered in a real code, but on an invalid ctrl - that's why not proposing a PR right away. But might still be worth changing:

[code]

[2021-09-16 07:52] seaCheng opened #194 "libuvc on mac can't request camera access"
when i use qcamera open my webcam camera, app will pop up a box request camera access due to NSCameraUsageDescription in plist,but when i use libuvc it never do this ? i don't understand why? and i don't konw what to do to make it pop up the same box
![image](https://user-images.githubusercontent.com/74600149/133572951-cad6cefe-56a0-49da-b73d-1b1a34ad3f2f.png)

[2021-09-16 22:13] ghost opened #195 "bNumFrameDescriptors not set for uncompressed and MJPEG"
`uvc_parse_vs_format_uncompressed()` and `uvc_parse_vs_format_mjpeg()` don't set `uvc_format_descriptor_t::bNumFrameDescriptors` field, which means it will be zero in these cases. The fix seems to be to add the following to these two functions:

`format->bNumFrameDescriptors = block[4];`

With this patch, the format descriptor matches 'lsusb' output.

Is there some reason this field isn't being se

[2021-09-18 04:25] BoysFight commented on #93
hi,I also hav this problem.
Mark.

[2021-09-28 08:45] mmppeegg commented on #136
A stupid question, is WinUSB driver necessary for using libuvc?

[2021-09-28 08:48] mcuee commented on #136
Yes.
https://github.com/libusb/libusb/wiki/Windows#How_to_use_libusb_on_Windows

[2021-09-28 09:15] mmppeegg commented on #136
Hi mcuee,
Thanks for so fast replying! I've done built successfully the pupil-labs/libuvc, and I'm trying use the libuvc.dll/libuvc.lib. But I always failed on uvc_open(). The uvc_find_device() is success by input my plugging camera's PID/VID.
Can you hint the possible losing? Thank you so much!

[2021-09-28 10:17] dmikushin commented on #136
Usually, the device does not open due to insufficient access permissions of a regular user. Please try as Administrator.

[2021-09-29 00:57] mcuee commented on #136
Did you install WinUSB driver?
https://github.com/libusb/libusb/wiki/Windows#how-to-use-libusb-on-windows

[2021-09-29 01:00] mcuee commented on #194
Is this macOS 12 or macOS 11?

Ref: https://github.com/libuvc/libuvc/issues/188

[2021-09-29 01:03] mcuee commented on #194
I tend to believe you may have to develop your application using the native macOS API and not libusb/libuvc in this case, if you want to achieve what you want.

libusb under macOS 12 may require another
Ref: https://github.com/libusb/libusb/pull/911
`kUSBReEnumerateCaptureDeviceMask` requires either the application to be running as root OR the application has the entitlement `com.apple.vm.device-a

[2021-09-29 01:10] mmppeegg commented on #136
Thank you mcuee :)
Finally I got solved with installing WinUSB. My testing is able to successfully read  my camera information via libuvc!
However I found that my camera is not visible by other applications which use cameras. Is there anyway without replacing standard usbvideo driver?

[2021-09-29 02:26] mcuee commented on #136
That is expected if you use WinUSB driver. No way around that.

The potential workaround is to use the original Windows UVC driver and not WinUSB. But then you need to install usbdk and then change libuvc codes to use libusb usbdk backend. I guess that is too complicated and not worth doing.

Ref: https://github.com/libusb/libusb/wiki/Windows#Driver_Installation

[2021-10-01 20:40] dmikushin opened #196 "Camera capture in a single thread"
Is it possible to organize USB camera frame grabbing in the main thread?

This design should be a good practice for simple embedded devices with limited multithreading. Also, suppose that you do Python bindings, which do not allow using data directly from a different thread.

[2021-10-04 07:28] EworkitSrl opened #197 "Can i give more priority to usb camera using this library"
i want to develop an application to give more priority usb camer when usb camera plug. for example when i connect a usb camera to android phone  and i get video call from whatsApp  then camera view should get from usb camera

[2021-10-25 10:49] dmikushin opened #199 "Interface query should belong to the if(frame->intervals) "else" case"
[Here](https://github.com/libuvc/libuvc/blob/92621946160855f8154c35ca4f0299f5392f6c93/src/stream.c#L490) in `uvc_get_stream_ctrl_format_size` the interface is claimed to query min/max parameters. This query has no effect on the `if(frame->intervals)` case, which follows the query. The query only makes sense for the "else" branch. Hence, I propose to move querying directly into the "else" case, so

[2021-10-25 15:02] ghost opened #200 "32 bits libuvc issue"
Hello everybody,
hope you are ok. I am stuck on a problem with libuvc. My goal is to grab frames from an UVC compliant webcam. I managed to grab frames from it when compiling libuvc in 64 bits. Unfortunately, when compiling libuvc in Win32, when executing my program, an exception is thrown: `Unhandled exception at 0x7CA9982B (uvc.dll) in PupilLab32Bits.exe: 0xC0000094: Integer division by zero`. T

[2021-10-30 11:09] mcuee commented on #194
You need to use libusb git head and also be an apple developer in order to use the new feature for libusb. You need to develop a GUI app to use the entitlement. For command line version, you may have to use root.

Discussion here.
https://github.com/libusb/libusb/issues/1014#issuecomment-955143331

FAQ here:
https://github.com/libusb/libusb/wiki/FAQ#how-can-i-run-libusb-applications-under-mac-os-x

[2021-10-30 11:10] mcuee commented on #188
https://github.com/libusb/libusb/wiki/FAQ#how-can-i-run-libusb-applications-under-mac-os-x-if-there-is-already-a-kernel-extension-installed-for-the-device-and-claim-exclusive-access

Updates on Oct 2021: with the merging of pull request #911, support for detaching kernel drivers with authorization has been added. This will be included in the upcoming 1.0.25 release. Take note the underlying macOS

[2021-10-30 11:16] mcuee commented on #200
You may want to try the fork here:
https://github.com/pupil-labs/libuvc

Or try the vcpkg here -- I do not use vcpkg so I am not so sure whether it offers 32bit package.
https://github.com/microsoft/vcpkg/tree/master/ports/libuvc

[2021-10-30 11:19] mcuee commented on #197
That should have nothing to do with libuvc but rather an Andorid thingy even if it is possible. So you may have to ask in Android related forum.

To be honest, libusb itself does not work well with Android as of now if you do not have root access. So you may want to forget libusb/libuvc for now if you want to use Android.

Ref: https://github.com/libusb/libusb/pull/874

[2021-10-30 11:36] mcuee commented on #188
More discussions here.
https://github.com/libusb/libusb/issues/1014

[2021-10-30 11:37] mcuee commented on #194
More discussions here.
https://github.com/libusb/libusb/issues/1014

[2021-11-04 06:22] mcuee commented on #194
Based on feedbacks from the libusb discussions, libuvc is not the right library to use under macOS.
https://github.com/libuvc/libuvc/issues/194

[2021-11-04 06:23] mcuee commented on #188
Based on feedbacks from the libusb discussions, libuvc is not the right library to use under macOS.
https://github.com/libusb/libusb/issues/1014

[2021-11-04 06:34] zklyzhoutao opened #203 "libusb_submit_transfer is caused the phone restart"
Hi, We use libuvc and libusb in the Android devices.
When We test the Android device of Google Pixel 4, The App is caused phone restart.
End We find libusb_submit_transfer is get stuck and cause phone restart.

libusb version https://github.com/xloem/libusb/tree/android-dev.
libuvc version 0.06;
Android device: Google Pixel 4 and Android 11.

[2021-11-05 10:51] mcuee commented on #188
If you are just testing, then you can use latest libusb git and then sudo.

[code]

[2021-11-05 10:54] mcuee commented on #194
Please refer to https://github.com/libuvc/libuvc/issues/188

[2021-11-05 16:32] jksiezni commented on #203
Hi, it appears to be a common problem on Pixel phones. Users of those devices report identical issues: https://www.reddit.com/r/Pixel4a/comments/oq62kd/usb_otg_webcam_forces_phone_reboot/

You might have just found what function hits a bug. Yet, if it causes restarts, then it's a kernel issue not the library.

[2021-11-06 00:15] zklyzhoutao commented on #203
Thanks.I got it!
I also find an other question. In phones (like HUAWEI Nova2s ,XiaoMi 9, Galaxy S20),When I first use the libusb library, the code `int r = ioctl(hpriv->fd, IOCTL_USBFS_SUBMITURB, urbs[i])` return -1. When I restart phone, it work good. What settings am I missing？How can I improve this question.
Thanks!

[2021-11-08 03:07] zhouconglong opened #204 "get bytes error in android"
Hi, I use this library in my app.
When I use it, I find I don't get bytes. Well, I restart phone, It is Ok.
And I debugg, I find the  libusb_submit_transfer function return -1.
I think the bytes is big, I edit the endpoint_bytes_per_packet to 1024, it is ok, but only get a part bytes, not a fully image.
If I want to  get the fully image. I must restart phone.
Can I lack some code or option?

[2021-11-25 04:58] ginna6803 opened #205 "document can not connect"
I can not connect the UVC document
https://ken.tossell.net/libuvc/doc/
Did it close?

[2021-12-09 17:23] tpham3783 commented on #168
Interesting enough, this is happening to me on Linux, Ubuntu 20.04 LTSC, kernel 5.4.0-71 and libusb-2:0.1.12-32

uvc_get_device() does not find any device.

please share if there is a work-around.  thanks

[2021-12-09 18:33] tpham3783 commented on #168
NM,

I found my mistake:

I believe that I have to flash the firmware with the opensource version in order to utilize libuv.

sorry for the noise.

[2021-12-09 22:15] openastroproject commented on #168
Regarding the FLIR camera, if it's genuinely UVC but presents proprietary interface class and subclass values, there's already a small fudge around line 750 in src/device.c that handles a similar problem for some Imaging Source cameras that might be extended for yours?

[2021-12-17 11:39] dalbani commented on #42
@traud: did you try by any chance with a C930e?
Well, actually, I have and I didn't see any difference in the reported list of video formats.
I am wondering if this particular camera requires some particular trickery.
As shown in a Windows / DirectShow environment by having to use an alternative "capture pin":
https://stackoverflow.com/questions/24675538/how-to-support-hardware-encoded-h264-though

[2021-12-17 11:54] dalbani commented on #42
By the way, I just mentioned SVC *1.5* but the capabilities exposed by the device seem to only mention UVC 1.0 strangely enough?!? 😕
On Linux but also on Windows as seen in the output of USBTree: https://gist.github.com/dalbani/3fa6621c09baff3d94cc.
But I'm pretty sure it supports UVC 1.5, as mentioned in the specs, and also as seen as in a firmware dump: https://gist.github.com/dalbani/12e017fdec

[2021-12-21 10:50] traud commented on #42
I do not own a C930e myself. I think you were about mentioning @Pazu.

[2021-12-21 20:42] dalbani commented on #42
Thanks @traud, I pinged the wrong person indeed.
Should someone (ever) be interested, I've posted the output of an (H264 enhanced) `lsusb` command for my Logitech C930e on Linux: <https://gist.github.com/dalbani/08f295fe436b76fa70bd29e1f51321cc>.
I actually had to use a hack to make the second configuration descriptor visible to the Linux USB stack: <https://sourceforge.net/p/linux-uvc/mailman/mes

[2022-01-19 07:28] lafith commented on #136
Hi,
I followed the instructions and build libuvc without any error in windows. Now I am trying to use it in but the error **"fatal error C1083: Cannot open include file: 'libuvc.h': No such file or directory"** is coming.

Following is my CMakeLists.txt:
`cmake_minimum_required(VERSION 3.0.0)
project(WebCam_MicrosoftMediaFoundation VERSION 0.1.0)

include_directories(include)
file(GLOB SOURCES "sr

[2022-01-31 23:48] JWhitleyWork commented on #192
I am seeing this behavior too. However, it only happens if I disconnect from a device and then try to connect to it again. When I disconnect from the device, I get the following in my kernel log:

[code]

After this, nothing appears to happen and everything is fine until I try to connect to the device again, in which case I get the following reset attempts:

[code]

and then the following forever

[2022-01-31 23:53] JWhitleyWork commented on #192
Looks like the `io_dev_set_duty failed` are just a side-effect which are specific to the `system76-io` package.

[2022-02-01 13:09] donn commented on #192
Pop!_OS or not, the behavior you're describing is identical to what I faced.

[2022-02-16 08:26] pcha75 opened #207 "Return camera name"
Hello everybody,
is there any function in libuvc which returns a list of names of UVC cameras plugged in the PC? Thank you!

[2022-02-16 13:06] nuffer commented on #169
Same issue here, I have rewrite the `uvc_find_device` [function here](https://github.com/libuvc/libuvc/blob/37f00abd32b083a3d748f2a25c1c794578b51c16/src/device.c#L128) in order to iterate over the number of same camera connected.

[code]

[2022-02-16 14:21] jwlodek commented on #207
You can try using this program I wrote for this purpose: https://github.com/areaDetector/ADUVC/tree/master/uvcSupport/cameraDetector

[2022-02-16 15:14] pcha75 commented on #207
Hi @jwlodek,
thank you for your reply, this exactly what I was looking for :). Have a good day!

[2022-02-16 15:14] #207 closed

[2022-02-23 06:45] jiaozebo commented on #64
to change this value did work. could you please explain what this value means, why smaller is good?  what's the proper default value

[2022-02-28 23:18] yamori813 commented on #196
I seem libuvc is need os. I think you can refer this page.

http://bytewerx.blogspot.com/2009/06/interfacing-usb-webcam-to-pic32.html

[2022-03-01 00:16] dmikushin commented on #196
Hi @yamori813 btw, do you have experience with pic32? Could you please help me to identify if some particular firmware and chip are indeed pic32>

[2022-03-01 07:15] yamori813 commented on #196
I use PIC32 some times. Now I use PlatformIO make PIC32 firmware.

[2022-03-06 01:27] netman69 commented on #53
I suspect this is the same issue as #152, I am working on a PR

[2022-03-09 05:55] r00t- commented on #183
i made a fix for a similar issue: https://github.com/libuvc/libuvc/pull/211/files
(the fix in #209 did not fix the crashes i was seeing.)

[2022-03-09 10:09] JoelStienlet commented on #183
very possibly the same origin: the data buffer beeing too small. Have you also tried my patch [https://github.com/libuvc/libuvc/pull/184](https://github.com/libuvc/libuvc/pull/184) ?

[2022-03-09 23:55] r00t- commented on #158
are you sure your camera actually supports absolute positioning? is it possible with the manufacturer's software? it's conceivable that there simply is no position feedback, because that makes the hardware cheaper to build (less sensors), and it can still be sold as pan/tilt.

[2022-03-11 09:55] JoelStienlet commented on #183
@r00t- yes, I agree that the memory accesses inside `uvc_yuyv2bgr()` require safety checks.
But the `memcopy()` in `_uvc_populate_frame()` also needs to be safe. The code needs patches at multiple places IMO.

[2022-03-16 02:23] shaozhihua opened #213 "how to handle hot plug issue,pull out the camera USB when the camera is running"
sometimes we may pull out the camera USB on occasionaly,we dont do that on purpose,what confused me is we plug/pull out the USB if the camera is running well,so how should we monitor this issue and solve it,I attempted judge it in callback function ,but when we pull out the USB,the program wont call the cb......
I need help..sir or ladies...

[2022-03-16 02:23] shaozhihua commented on #213
sometimes we may pull out the camera USB on occasionaly,we dont do that on purpose,what confused me is we plug/pull out the USB if the camera is running well,so how should we monitor this issue and solve it,I attempted judge it in callback function ,but when we pull out the USB,the program wont call the cb......

[2022-03-18 07:00] JoanMCD opened #214 "Video Out (different direction as Webcam)"
Hello, is it possible to streame out a Video stream (w USB2,not USB3) ?
I want to write out a video stream available in the host device to an external monitor/system. I know how I have to handle the data in an external µC to generate i.e. an CVBS video signal. But it's not clear to me how to perform on the host/linux site. In the USB spec a Video Out Terminal exists, but I didn't found implementat

[2022-04-08 03:42] U-Mallik opened #215 "Cannot use features from non-enabled language CXX"
When I enable the -DBUILD_TEST switch (-DBUILD_TEST=ON) I receive the following message

Cannot use features from non-enabled language CXX
CMake Generate step failed.  Build files cannot be regenerated correctly.

I have tried all sorts of things like adding CXX to languages and the other things shown in the error cited in  Build test failed #180. To no avail. I also tried to add

  target_compile

[2022-04-09 16:03] U-Mallik commented on #215
When I do all the above together I receive the NO error from CMAKE. However when I run make I receive the error. I resolve this issue

um@um-Yoga-A940-27ICB:~/libuvc/build$ make && sudo make install
[ 41%] Built target uvc
[ 45%] Building C object CMakeFiles/uvc_test.dir/src/test.c.o
/home/um/libuvc/src/test.c: In function ‘void cb(uvc_frame_t*, void*)’:
/home/um/libuvc/src/test.c:44:66: error: ca

[2022-04-09 16:10] U-Mallik commented on #215
More back ground: When I run "cmake .." only (opencv2 not used) the routines create an executable called "example". This executable successfully opens my camera's UVC device and reports back the following:

um@um-Yoga-A940-27ICB:~/libuvc/build$ ./example
UVC initialized
Device found
Device opened
DEVICE CONFIGURATION (0403:602a/1) ---
Status: idle
VideoControl:
	bcdUVC: 0x0110
VideoStreaming(1):

[2022-04-09 18:27] U-Mallik commented on #215
I was receiving -fpermissive errors  because you convert void *ptr to int using the cast (int) ptr

You have to change this to static_cast<int>(reinterpret_cast<intptr_t>(ptr))

[2022-04-09 18:32] U-Mallik commented on #215
I have to delete the LANGUAGES in the project definition. Since C and CXX are automatically initiated as the languages doing this does not cause any anomalous behavior. I received a -fpermissive error because you are casting (void *) ptr to int. Changing it to static_cast<int>(reinterpret_cast<intptr_t>(ptr)) removes the error and allows the compiler to complete its task. My camera is yet to produ

[2022-04-26 02:51] 751643992 opened #216 "uvc_init return -1 in android 10"
compile https://github.com/libusb/libusb
compile https://github.com/libjpeg-turbo/libjpeg-turbo
uvc_init return -1 in android 10?
Can libuvc run in android platform?
But https://github.com/saki4510t/UVCCamera,  this project have modied libusb and libuvc，uvc_init2。

[2022-04-27 10:20] 751643992 opened #217 "android device.c: libusb_open() = -3"
android device.c: libusb_open() = -3
Can someone help me to solve above issue in android platform?

[2022-05-06 13:52] CCnut opened #218 "_uvc_stream_params_negotiated function problem"
https://github.com/libuvc/libuvc/blob/d3318ae72a2b916ae352ad0abbbfa2c0990f455e/src/stream.c#L590-L596
Negotiation failed when `required->dwMaxPayloadTransferSize` less than `actual->dwMaxPayloadTransferSize`, it must be equal.
I changed it to `<=` and the negotiation was successful.

actual size should be less or equal required size.

[2022-05-07 00:09] #215 closed

[2022-05-08 02:47] mcuee commented on #217
You need to try the following patch to libusb if your device is not rooted.
https://github.com/libusb/libusb/pull/874

[2022-05-08 02:48] mcuee commented on #216
You need to try the following patch to libusb if your device is not rooted.
https://github.com/libusb/libusb/pull/874

[2022-05-08 02:51] mcuee commented on #200
vcpkg has labeled libuvc as not supported under Windows.

[2022-05-08 02:59] mcuee commented on #213
libusb does support hotplug under macOS and Linux (but not on Windows), probably libuvc can be enhanced to support hotplug.

[2022-05-08 02:59] mcuee commented on #205
No issues now.

[2022-05-08 03:01] mcuee commented on #53
https://github.com/libuvc/libuvc/pull/210 has been merged. It may have aready fixed this issue.

[2022-05-08 03:02] mcuee commented on #152
https://github.com/libuvc/libuvc/pull/210 has been merged. It may have aready fixed this issue.

[2022-05-08 11:02] mcuee commented on #136
Latest build of https://github.com/pupil-labs/libuvc git head with libusb-1.0.26 (dynamic link) and pthreads-w32-2-9-1-release, using VS2019 (both 32bit and 64bit).
[pupil_labs_libuvc.zip](https://github.com/libuvc/libuvc/files/8646865/pupil_labs_libuvc.zip)

[2022-05-08 11:04] mcuee commented on #200
Latest build of https://github.com/pupil-labs/libuvc git head with libusb-1.0.26 (dynamic link) and pthreads-w32-2-9-1-release, using VS2019 (both 32bit and 64bit).
[pupil_labs_libuvc.zip](https://github.com/libuvc/libuvc/files/8646865/pupil_labs_libuvc.zip)

[2022-05-08 11:05] mcuee commented on #12
[pupil_labs_libuvc.zip](https://github.com/libuvc/libuvc/files/8646865/pupil_labs_libuvc.zip)

[2022-05-08 11:06] mcuee commented on #185
Latest build of https://github.com/pupil-labs/libuvc git head with libusb-1.0.26 (dynamic link) and pthreads-w32-2-9-1-release, using VS2019 (both 32bit and 64bit).
[pupil_labs_libuvc.zip](https://github.com/libuvc/libuvc/files/8646865/pupil_labs_libuvc.zip)

[2022-05-23 02:39] shaozhihua commented on #213
Ok then,Isee,thanks for the telling,I want to find another way to solve it,like monitor the driver and give a warn when pull out the camera USB driver;

[2022-05-27 12:57] mcuee commented on #204
Not so sure if this is a Android kernel problem or libusb or libuvc problem.

Ref: similar reports of libusb Android isoc issues
https://github.com/libusb/libusb/issues?q=is%3Aopen+label%3Aisoc+label%3Aandroid

[2022-05-27 13:05] mcuee commented on #191
Ref: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1354
Interesting issue.
Not so sure the underlying USB chip of the  Azure Kinect.

We tested Super speed isochronous transfer here with libusbk with Cypress FX3 based development board and it seems to work under Windows. libusb itself does not work seems to work well with high speed or SuperSpeed isoc transfer under Windows.
Ref: htt

[2022-06-16 12:09] RechieKho opened #219 "Fail to open new video stream: Invalid parameter"
So I basically did stuff like this (I left out the error checking for better clarity):
[code]

Successfully compiled, but `cb` function never get called as I get `invalid parameter` error.

[2022-06-17 12:08] RechieKho commented on #219
I open up the uvc source code and the problem arise when I try to open a stream handle via `uvc_stream_open_ctrl()`. I felt dread.

[2022-06-18 02:51] RechieKho commented on #219
I am still waiting for a saviour

[2022-06-22 03:18] #213 closed

[2022-06-22 03:18] shaozhihua commented on #213
after all does not support on windows,I accept the result;

[2022-06-24 07:20] pandeypradyumn opened #222 "clock_gettime & CLOCK_MONOTONIC not identified while building on windows"
![clock](https://user-images.githubusercontent.com/88272172/175483517-d8f3e8cd-ed6f-4875-95ff-0297559b92a0.png)

[2022-06-26 07:45] RechieKho commented on #219
pls don't abandon me

[2022-06-30 10:19] pandeypradyumn commented on #153
any idea how can i solve it on windows

[2022-06-30 10:25] pandeypradyumn commented on #53
any possible fixes for windows ?

[2022-06-30 11:07] pandeypradyumn commented on #134
@chirag26495 can you tell me the solution for this ?

[2022-07-09 01:48] RechieKho commented on #219
dammit

[2022-07-13 05:53] jujurou642 commented on #42
@dalbani : Would you please publish the (H264 extended) lsusb command for Logitech C930e?

[2022-07-14 08:15] jujurou642 commented on #42
@dalbani : I have changed the kernel and got the second Configurations with the lsusb command. However, since the lsusb command does not support UVC1.5, I would like to see the source code of the lsusb command you modified.

[2022-07-15 09:19] jmachowinski commented on #191
Thx for your answer. We Finally gave up on the Azure, as we just could not get it to be reliable. So I am closing this ticket.

[2022-07-15 09:19] #191 closed

[2022-07-24 05:43] damijans opened #223 "Fail to claim interface"
I was working with one of Active Silicon camera. The camera consumes 1.5A, while the USB endpoint on a host provides only 0.3A. As a result Linux Kernel driver reject connection, what can be seen in dmesg log:
[code]
Anyway, USB endpoint remains alive (obviously with just partial configuration).

After trying to connect with libuvc to this camera connection fails. By enabling logging in libuvc I'v

[2022-07-27 23:13] jujurou642 commented on #42
I created a patch that just looks at the descriptor information with the lsusb command.

kernel_usb_c930e.patch
https://1drv.ms/u/s!AncVN32qssoflXNZDqsSSOwJrMZE?e=PaQJaY

usbutils_20220719_uvc1.5_h264.patch
https://1drv.ms/u/s!AncVN32qssoflXRjwsJVnr_Mscud?e=a9ADtU

[2022-07-28 13:50] dalbani commented on #42
Hi @jujurou642, sorry for the delay getting back to you. I had to dig into my files to find this diff for `lsusb`:

[code]

[2022-07-28 14:00] subhash-coder opened #226 "How to compile src files?"
I'm  a begginer, can anyone tell me how  to compile files contained in src directory?

[2022-07-28 15:38] jwlodek commented on #226
Did the instructions in the README not work?

[code]

[2022-07-28 17:14] subhash-coder commented on #226
Only example.c file is being compiled
I'm unable to compile stream.c and test.c

[2022-07-28 18:00] jwlodek commented on #226
For the first one, try adding `-lusb-1.0 -lpthread` after `-luvc`. For the other one, to me it seems it's complaining about C++ elements - you're compiling with `gcc`. I'd try `g++` instead

[2022-07-28 19:14] damijans opened #227 "After reopening the same uvc device streaming does not work any more."
The problem can be easily reproduced by modifying example.c and embedding part of the code from uvc_open() to uvc_close() into while loop:

[code]

In the first loop iteration streaming works correctly, while in the second iteration, streaming is not started and later on in uvc_stop_streamin() function the application hangs.

Note there exist several tickets already complaining about streaming doe

[2022-07-28 19:48] damijans commented on #227
Streaming in libuvc library is implemented by using USB ASYNCHRONOUS I/O with the help of libusb_submit_transfer() function. As a result of calling this function after transfer is finished _uvc_stream_callback() function is invoked (pointer to this function is specified as an argument while calling libusb_transfer() function).  Within _uvc_stream_callback() function libusb_submit_transfer() functi

[2022-07-29 03:03] #226 closed

[2022-07-29 03:04] subhash-coder commented on #226
thanks @jwlodek  it solved

[2022-07-29 03:10] subhash-coder opened #228 "How to select second device in libuvc?"
In example.c uvc_find_device function locates the first attached device, what is the way to select second device or 3rd device?
Do I need to use any other function to select another device rather than first?

[2022-07-29 03:25] jwlodek commented on #228
You can select a device based on product/vendor number or serial number. You can find that with `lsusb`

[code]

vid/pid are integers for the vendor/product IDs of the device respectively. If these params are set to 0 they are ignored. `cost char *sn` is the serial number of the device. If it is `NULL` it is ignored.

[2022-07-29 04:52] RudyB opened #229 "UVC_FRAME_FORMAT_GRAY8 GUID"
I am using a UVC compatible camera that provides 8 bit and 12 bit grayscale images. Initially I could not connect to it via libuvc because the guid that the camera provides is slightly different from the libuvc guid `UVC_FRAME_FORMAT_GRAY8` . The only difference is that my camera has spaces instead of 0's after the Y8. I was eventually able to get libuvc to work by changing the source code but I w

[2022-07-31 06:20] meeeee12 opened #230 "Take picture button on UVC camera"
I am using a usb video camera with a button and I would like to take a picture when the user clicks the button. I have asked the camera manufacture about it and they said it is part of the UVC protocol. The button works out of the box using AMCap software, but I can't find much information online about it. Is it possible to detect the button click using libuvc?

[2022-08-03 08:30] harsh-lodha commented on #136
Does the libuvc pupil fork support cameras which has uncompressed frame format and not mjpeg on windows?

[2022-08-03 08:32] harsh-lodha commented on #136
Yea, I also faced the same problem. Apparently the application  only support indows default camera driver

[2022-08-03 09:12] mcuee commented on #136
Unfortunately no real workaround for this one if you use WinUSB driver (or libusbk driver) to replace the Windows default camera driver.

The potential way is to try to use usbdk backend of libusb Windows (kind of filter driver which can co-exist) with the Windows default camera driver. But then you may need to modify the libuvc code as mentioned earlier to use usbdk backend. And usbdk backend may

[2022-08-03 19:28] raleighlittles opened #231 "[Documentation] URL in "About" sidebar section is invalid"
The URL listed on the sidebar: https://ken.tossell.net/libuvc/

doesn't work anymore.

![image](https://user-images.githubusercontent.com/2137201/182693047-c884d0c0-fbf5-41db-b4e7-d49f6039b0f8.png)

[2022-08-03 19:50] raleighlittles opened #232 "[Documentation] URL in README ("developing with UVC") is invalid"
The URL on the README:

https://int80k.com/libuvc/doc/

Is invalid

![image](https://user-images.githubusercontent.com/2137201/182696603-e66d8c92-be03-47a2-b2db-8470cce45b91.png)

[2022-08-03 23:33] jwlodek commented on #232
Can confirm. Might want to re-create the docs with doxygen on a docs branch, and enable a `github.io` web page.

[2022-09-05 10:33] mcuee commented on #231
Just click "Advanced" and then click "Proceed to ken.tossell.net (unsafe)".

[2022-09-05 10:51] mcuee commented on #188
Workaround which may not be easy to implement (using a codeless DriverKit Extension).
* https://github.com/libusb/libusb/issues/972#issuecomment-1236512964

[2022-09-05 11:05] mcuee opened #233 "Error building the test program -- error "OpenCV 4.x+ requires enabled C++11 support""
Sorry I do not know much about CMake and I am not so sure how to fix the issue.

[code]

[2022-09-05 11:11] mcuee commented on #233
Tried the tip here but it does no seem to work.
Ref: https://stackoverflow.com/questions/10851247/how-do-i-activate-c-11-in-cmake

[code]

[2022-09-14 03:32] rajhlinux opened #234 "Is it possible to change the serial number for a UVC camera?"
I have six webcams all of which have identical serial, model and hardware information.

Is it possible to somehow flash the UVC camera device to change the serial number somehow?

Thanks.

[2022-09-14 12:37] papr commented on #233
@mcuee I think the issue is that this step attempts to build a C object, not a c++ object.

If you run `cmake --build . --clean-first -v`, then you will see that `cc` is being called, not `c++`.

[2022-09-14 13:23] papr commented on #233
From what I understand, OpenCV's C API is no longer supported. One would probably need to port the test to a dedicated cxx-cmake project and the corresponding c++ OpenCV api.

[2022-09-15 00:01] skmagiik commented on #42
Obviously, we still don't have a UVC 1.5 solution. What is the best way to get someone to work on this?

[2022-09-15 19:36] damijans opened #235 "Introduce mpeg to bgr image conversion"
libuvc library already provides conversion from mpeg into rgb image with the help of uvc_mjpeg2rgb() function. Captured frame is quite often passed into very popular opencv library, which is by default based on bgr images and not rgb. In order to avoid additional conversion from rgb into bgr format (if needed) it would be fine this is already done during conversion from mpeg into raw format.

Plea

[2022-09-25 07:44] damijans opened #238 "Missing information about compliance to UVC standard"
uvc_get_device_descriptor() function should returns compliance to UVC standard in bcdUVC attribute of specified device descriptor argument. However this attribute is always set to 0.

[2022-09-25 09:24] damijans commented on #238
By inspecting the code I found that uvc_get_device_descriptor() function does not fill bcdUVC attribute at all. Probably the reason is that bcvUVC information could be retrieved from **UVC** device handle, while uvc_get_device_descriptor() function is called with **USB** device handle. Thus my opinion is that bcdUVC attribute somehow does not belong to device descriptor structure which is used by

[2022-09-25 12:33] damijans commented on #238
Actually, this issue is duplicate with #140

[2022-09-28 05:41] damijans opened #239 "publish uvc_frame_format_for_guid() function"
uvc_frame_format_for_guid() function is used to retrieve frame type based on specified frame GUID identifier. This function is currently used internally within libuvc but it would be wise to make it public. Namely, activating certain frame type is based on specifying frame type while calling uvc_get_stream_ctrl_format_size() function. This frame type must be "known" to the caller of a function, ho

[2022-09-28 05:46] damijans commented on #239
Suggested enhancement is implemented and is waiting as one of changes in pull requests https://github.com/libuvc/libuvc/pull/224

[2022-09-28 21:17] damijans opened #240 "Make libuvc to be aware of NV21 & I420 GUID"
Currently libuvc is not aware of two guid values, which are available on one of cameras I was working with. Please, integrate the following guid

{'I',  '4',  '2',  '0', 0x00, 0x00, 0x10, 0x00, 0x80, 0x00, 0x00, 0xaa, 0x00, 0x38, 0x9b, 0x71}
{'N',  'V',  '2',  '1', 0x00, 0x00, 0x10, 0x00, 0x80, 0x00, 0x00, 0xaa, 0x00, 0x38, 0x9b, 0x71}

[2022-09-28 21:21] damijans commented on #240
proposed functionality is prepared and is waiting for review in pull request https://github.com/libuvc/libuvc/pull/224

[2022-09-30 08:20] andymatos opened #241 "How could I open the two child devices by libuvc?"
I have two uvc video cameras under one usb port. How could I open them at same time?
I try to get two different uvc_stream_ctrls , and call uvc_start_streaming with these two different ctrls. First is open correctly, but for second, is failed with Busy (-6) error. Since they're using the same interface.
This device works fine on Winwos with direct show api. Just do not know how to make it work in

[2022-10-04 16:59] jksiezni commented on #241
The libuvc was not designed to support this scenario, so you would need to alter streaming code to start multiple streams. However, you could make a workaround by creating two uvc_contexts and open the device twice.
[code]
Anyway, this is rather unusual for a device to have multiple Video/Audio interfaces, so could you say what kind of device is it?

[2022-10-05 10:06] andymatos commented on #241
Hi, jksiezni, thanks for your reply.
After uvc_init with two different context, how to open it twice? As far as what I have tried, the second uvc_open will return with UVC_ERROR_BUSY.
This is a device come from a hardware team which use the chipset from the MStar. It used to be used to send mulit stream for the TV Box, and we use it to send the strem in uvc protocol.

I have looked into the libuvc

[2022-10-05 18:07] jksiezni commented on #241
Oh, I see what your issue might be then. So, forget what I said earlier for a moment.
You said that you start streams from the same interface, so that's why you get BUSY errors around `_uvc_get_stream_by_interface()`. You have to make sure that each stream is configured on a different interface number.
It is configured via `uvc_stream_ctrl_t.bInterfaceNumber` field.

Also note, configuring streams

[2022-10-08 04:05] andymatos commented on #241
Thanks again for your reply.
I will look into the UVC specification and try to make some changes on the flow in the libuvc to map the second stream on a different interface

[2022-10-08 04:05] #241 closed

[2022-10-22 20:06] U-Mallik opened #242 "get_mode: Invalid mode (-51)"
When I use res = uvc_get_stream_ctrl_format_size

My camera throws the following error. "get_mode: Invalid mode (-51)". I am using the stream.c routine from the downloaded floder. I have tried
[code]
I have finally forced the format by directly encoding the format
[code]
This returns a 4.
[code]
to no avail. I am using an FT602 device to read in image data. I see that the UVC device is identifying

[2022-10-23 21:33] coolreader18 opened #243 "Function to create a uvc_device from a libusb_device"
I'm using libusb's `libusb_hotplug_register_callback` to monitor when devices are unplugged/plugged in, and it gives the callback a `libusb_device` for which one it was that had the event. It would be convenient to be able to create a `uvc_device` directly from that, instead of having to re-search for the device based on the vendor_id/product_id. I'd be happy to make a PR for this if this sounds l

[2022-10-25 18:12] nkrapivin opened #244 "Does not seem to work on a PS4."
Sony officially provides an implementation of FreeBSD's `libusb` from 2013 called `libSceUsbd` which is sorta compliant with `libusb`, except it lacks the `ctx` parameter in some functions, but overall works fine.
They also have a check in the kernel to block all UVC devices from initializing but I patched it out.
Something seems off though... I receive no format blocks?
[code]
I added a few more

[2022-10-31 21:11] damijans commented on #242
Hi,

I don't know details about your camera, however I had (still have) the same issue with my camera. By investigating the source code of uvc_get_stream_ctrl_format_size() function I realized that it does not follow UVC 1.5 class specification  where in "4.3.1.1 Video Probe and Commit Controls" section it is depicted that selection of video format is based on negotiation between host and video st

[2022-11-26 02:37] FrostKiwi opened #245 "Windows + MinGW64 + 2 Elgato CamLinks in November 2022"
Used libUVC with great success out of the box on Linux, moved to Windows and it was a painful 6 hours long debug session. Want to quickly sumarize how it ended up and what the result looks like. Since this is not an issue, I'll just close it in a week, just want to document how I got things running in a MinGW64 environment.

I just need one demonstration with 2 cameras hooked up to two Elgato CamL

[2022-11-26 08:11] FrostKiwi commented on #245
Ohh... And just in case any of you were wonder on how reliable the drivers are...

https://user-images.githubusercontent.com/60887273/204079068-a2406414-691d-4c2c-9aaf-b286db76fe71.mp4

(Finger pointed at Loose HDMI connector)